@using shared

@attribute [Route(StaticRoutesStrings.AccountResetPasswordPageRoute)]

<PageTitle>Reset password</PageTitle>

@if (LocalizationModel.Data is not null)
{
    <div class="text-center mb-5">
        <div class="form-signin">
            <StatusMessage Message="@Message" />
            <EditForm Model="Input" FormName="reset-password" OnValidSubmit="OnValidSubmitAsync" method="post">
                <h1 class="@StaticHtmlStrings.CSSMainTitle_h2">
                    @LocalizationModel.Data[StaticStrings.Localization_Account_ResetPassword_Title_Key]
                </h1>

                <DataAnnotationsValidator />
                <ValidationSummary class="text-danger" role="alert" />

                <input type="hidden" name="Input.Code" value="@Input.Code" />

                <div class="form-floating">
                    <InputText @bind-Value="Input.Email" type="email" class="form-control" id="resetPasswordEmail" placeholder="name@example.com" aria-label="name@example.com" required />
                    <ValidationMessage For="() => Input.Email" class="invalid-feedback" />
                    <label for="resetPasswordEmail">
                        @LocalizationModel.Data[StaticStrings.Localization_Account_ResetPassword_Form_Email_Label_Key]
                    </label>
                </div>

                <div class="form-floating">
                    <InputText @bind-Value="Input.Password" type="password" class="form-control" id="resetPasswordPassword" placeholder="Please enter your password" aria-label="Password" required />
                    <ValidationMessage For="() => Input.Password" class="invalid-feedback" />
                    <label for="resetPasswordPassword">
                        @LocalizationModel.Data[StaticStrings.Localization_Account_ResetPassword_Form_Password_Label_Key]
                    </label>
                </div>

                <div class="form-floating">
                    <InputText @bind-Value="Input.ConfirmPassword" type="password" class="form-control" id="resetPasswordConfirm" placeholder="Please confirm your password" aria-label="Confirm password" required />
                    <ValidationMessage For="() => Input.ConfirmPassword" class="invalid-feedback" />
                    <label for="resetPasswordConfirm">
                        @LocalizationModel.Data[StaticStrings.Localization_Account_ResetPassword_Form_ConfirmPassword_Label_Key]
                    </label>
                </div>

                <button type="submit" class="w-100 btn btn-lg btn-dark mt-3">
                    @LocalizationModel.Data[StaticStrings.Localization_Account_ResetPassword_Form_Button_Reset_Key]
                </button>
            </EditForm>
        </div>
    </div>
}
