<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
    <!-- Gallery -->
    <div class="container content-space-t-3 content-space-t-lg-5">
        <div class="w-lg-75 text-center mx-lg-auto">
            <!-- Heading -->
            <div class="mb-5 mb-md-10">
                @if (Model.Data != null)
                {
                    <HTMLEditor 
                        EditorId="@(StaticHtmlStrings.HTMLEditorAboutUsTitleId)"
                        EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                        Model="Model"
                        FuncSave="Save"
                        Key="@(StaticStrings.AboutUsPageDataTitleKey)">
                            <h1 class="display-4">@((MarkupString) Model.Data[StaticStrings.AboutUsPageDataTitleKey])</h1>
                    </HTMLEditor>
                    <HTMLEditor 
                        EditorId="@(StaticHtmlStrings.HTMLEditorAboutUsSubtitleId)"
                        EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                        Model="Model"
                        FuncSave="Save"
                        Key="@(StaticStrings.AboutUsPageDataSubtitleKey)">
                            <p class="lead">@((MarkupString) Model.Data[StaticStrings.AboutUsPageDataSubtitleKey])</p>
                    </HTMLEditor>
                }
            </div>
            <!-- End Heading -->
        </div>

        <div class="row gx-3">
            <div class="col mb-3">
                <div class="bg-img-start" style="background-image: url(_content/rcl/assets/img/480x320/img17.jpg); height: 15rem;"></div>
            </div>
            <!-- End Col -->

            <div class="col-3 d-none d-md-block mb-3">
                <div class="bg-img-start" style="background-image: url(_content/rcl/assets/img/480x320/img6.jpg); height: 15rem;"></div>
            </div>
            <!-- End Col -->

            <div class="col mb-3">
                <div class="bg-img-start" style="background-image: url(_content/rcl/assets/img/480x320/img14.jpg); height: 15rem;"></div>
            </div>
            <!-- End Col -->

            <div class="w-100"></div>

            <div class="col mb-3 mb-md-0">
                <div class="bg-img-start" style="background-image: url(_content/rcl/assets/img/480x320/img25.jpg); height: 15rem;"></div>
            </div>
            <!-- End Col -->

            <div class="col-4 d-none d-md-block mb-3 mb-md-0">
                <div class="bg-img-start" style="background-image: url(_content/rcl/assets/img/480x320/img16.jpg); height: 15rem;"></div>
            </div>
            <!-- End Col -->

            <div class="col">
                <div class="bg-img-start" style="background-image: url(_content/rcl/assets/img/480x320/img12.jpg); height: 15rem;"></div>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
    <!-- End Gallery -->
    <!-- Feature Stats -->
    <div class="container content-space-2 content-space-lg-3">
        <div class="row justify-content-lg-center">
            @if (Model.Data != null)
            {
                <div class="col-sm-4 col-lg-3 mb-7 mb-sm-0">
                    <div class="text-center">
                        <HTMLEditor 
                            EditorId="@(StaticHtmlStrings.HTMLEditorAboutUsFeatureStatsFirstTitleId)"
                            EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                            Model="Model"
                            FuncSave="Save"
                            Key="@(StaticStrings.AboutUsPageDataFeatureStatsFirstTitleKey)">
                                <h2 class="display-4">@((MarkupString) Model.Data[StaticStrings.AboutUsPageDataFeatureStatsFirstTitleKey])</h2>
                        </HTMLEditor>
                        <HTMLEditor 
                            EditorId="@(StaticHtmlStrings.HTMLEditorAboutUsFeatureStatsFirstSubtitleId)"
                            EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                            Model="Model"
                            FuncSave="Save"
                            Key="@(StaticStrings.AboutUsPageDataFeatureStatsFirstSubtitleKey)">
                                <p class="small">@((MarkupString) Model.Data[StaticStrings.AboutUsPageDataFeatureStatsFirstSubtitleKey])</p>
                        </HTMLEditor>
                    </div>
                </div>
                <!-- End Col -->

                <div class="col-sm-4 col-lg-3 mb-7 mb-sm-0">
                    <div class="text-center">
                        <HTMLEditor 
                            EditorId="@(StaticHtmlStrings.HTMLEditorAboutUsFeatureStatsSecondTitleId)"
                            EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                            Model="Model"
                            FuncSave="Save"
                            Key="@(StaticStrings.AboutUsPageDataFeatureStatsSecondTitleKey)">
                                <h2 class="display-4">@((MarkupString) Model.Data[StaticStrings.AboutUsPageDataFeatureStatsSecondTitleKey])</h2>
                        </HTMLEditor>
                        <HTMLEditor 
                            EditorId="@(StaticHtmlStrings.HTMLEditorAboutUsFeatureStatsSecondSubtitleId)"
                            EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                            Model="Model"
                            FuncSave="Save"
                            Key="@(StaticStrings.AboutUsPageDataFeatureStatsSecondSubtitleKey)">
                                <p class="small">@((MarkupString) Model.Data[StaticStrings.AboutUsPageDataFeatureStatsSecondSubtitleKey])</p>
                        </HTMLEditor>
                    </div>
                </div>
                <!-- End Col -->

                <div class="col-sm-4 col-lg-3">
                    <div class="text-center">
                        <HTMLEditor 
                            EditorId="@(StaticHtmlStrings.HTMLEditorAboutUsFeatureStatsThirdTitleId)"
                            EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                            Model="Model"
                            FuncSave="Save"
                            Key="@(StaticStrings.AboutUsPageDataFeatureStatsThirdTitleKey)">
                                <h2 class="display-4">@((MarkupString) Model.Data[StaticStrings.AboutUsPageDataFeatureStatsThirdTitleKey])</h2>
                        </HTMLEditor>
                        <HTMLEditor 
                            EditorId="@(StaticHtmlStrings.HTMLEditorAboutUsFeatureStatsThirdSubtitleId)"
                            EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                            Model="Model"
                            FuncSave="Save"
                            Key="@(StaticStrings.AboutUsPageDataFeatureStatsThirdSubtitleKey)">
                                <p class="small">@((MarkupString) Model.Data[StaticStrings.AboutUsPageDataFeatureStatsThirdSubtitleKey])</p>
                        </HTMLEditor>
                    </div>
                </div>
                <!-- End Col -->
            }
        </div>
        <!-- End Row -->
    </div>
    <!-- End Feature Stats -->

    <div class="border-top mx-auto" style="max-width: 25rem;"></div>

    <!-- Info -->
    <div class="container content-space-2 content-space-lg-3">
        <div class="row justify-content-lg-between">
            <div class="col-lg-4 mb-5 mb-lg-0">
                @if (Model.Data != null)
                {
                    <HTMLEditor 
                        EditorId="@(StaticHtmlStrings.HTMLEditorAboutUsInfoLeftId)"
                        EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                        Model="Model"
                        FuncSave="Save"
                        Key="@(StaticStrings.AboutUsPageDataInfoLeftKey)">
                            <h2>@((MarkupString) Model.Data[StaticStrings.AboutUsPageDataInfoLeftKey])</h2>
                    </HTMLEditor>
                }
            </div>
            <!-- End Col -->

            <div class="col-lg-6">
                @if (Model.Data != null)
                {
                    <HTMLEditor 
                        EditorId="@(StaticHtmlStrings.HTMLEditorAboutUsInfoRightFirstId)"
                        EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                        Model="Model"
                        FuncSave="Save"
                        Key="@(StaticStrings.AboutUsPageDataInfoRightFirstKey)">
                            <p>@((MarkupString) Model.Data[StaticStrings.AboutUsPageDataInfoRightFirstKey])</p>
                    </HTMLEditor>
                    <HTMLEditor 
                        EditorId="@(StaticHtmlStrings.HTMLEditorAboutUsInfoRightSecondtId)"
                        EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                        Model="Model"
                        FuncSave="Save"
                        Key="@(StaticStrings.AboutUsPageDataInfoRightSecondKey)">
                            <p>@((MarkupString) Model.Data[StaticStrings.AboutUsPageDataInfoRightSecondKey])</p>
                    </HTMLEditor>
                }
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
    <!-- End Info -->

    <div class="border-top mx-auto" style="max-width: 25rem;"></div>

    <!-- Team -->
    <div class="container content-space-2 content-space-lg-3">
        <!-- Heading -->
        <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
            @if (Model.Data != null)
            {
                <HTMLEditor 
                    EditorId="@(StaticHtmlStrings.HTMLEditorAboutUsTeamTitleId)"
                    EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                    Model="Model"
                    FuncSave="Save"
                    Key="@(StaticStrings.AboutUsPageDataTeamTitleKey)">
                        <span class="text-cap">@((MarkupString) Model.Data[StaticStrings.AboutUsPageDataTeamTitleKey])</span>                        
                </HTMLEditor>
                <HTMLEditor 
                    EditorId="@(StaticHtmlStrings.HTMLEditorAboutUsTeamSubtitleId)"
                    EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                    Model="Model"
                    FuncSave="Save"
                    Key="@(StaticStrings.AboutUsPageDataTeamSubtitleKey)">
                        <h2>@((MarkupString) Model.Data[StaticStrings.AboutUsPageDataTeamSubtitleKey])</h2>
                </HTMLEditor>
            }
        </div>
        <!-- End Heading -->

        <div class="row gx-3 mb-5">
            <TeamList
                SiteName="@SiteNameLower">
            </TeamList>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Team -->
</main>
<!-- ========== END MAIN CONTENT ========== -->
