@using Microsoft.AspNetCore.Components.Forms

<div class="container">
    <!-- Tabs headers -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#Messages-tab-pane" type="button" role="tab" aria-controls="Messages-tab-pane" aria-selected="true">
                Messages
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#General-tab-pane" type="button" role="tab" aria-controls="General-tab-pane" aria-selected="false">
                General
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#Settings-tab-pane" type="button" role="tab" aria-controls="Settings-tab-pane" aria-selected="false">
                Settings
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#Social-tab-pane" type="button" role="tab" aria-controls="Social-tab-pane" aria-selected="false">
                Social
            </button>
        </li>
    </ul>

    <div class="row">
        <div class="col-12 text-center">
            @CustomDomainMessage
        </div>
    </div>

    <!-- Tabs body -->
    <div class="tab-content" id="myTabContent">

        <!-- Tab message -->
        <div class="tab-pane fade show active" id="Messages-tab-pane" role="tabpanel" aria-labelledby="Messages-tab" tabindex="0">
            @*             @if (Model.Data != null)
            {
            <h5>@Model.Data[StaticStrings.AdminPageDataContactUsMessagesLabelKey]</h5>
            } *@

            @if (ContactUsMessages.Any())
            {
                <div class="accordion my-5" id="accordionContactUsMessages">
                    @for (int i = 0; i < ContactUsMessages.Count; i++)
                    {
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@i" aria-expanded="true" aria-controls="collapse-@i">
                                    @($"{ContactUsMessages[i].FirstName} {ContactUsMessages[i].LastName} ({ContactUsMessages[i].Email})")
                                </button>
                            </h2>

                            <div id="collapse-@i" class="accordion-collapse collapse" data-bs-parent="#accordionContactUsMessages">
                                <div class="accordion-body">
                                    <div class="row">
                                        <div class="col-12 col-lg-3">
                                            <strong class="d-block h5 mb-0">
                                                First name
                                            </strong>
                                            <span class="text-secondary">
                                                @ContactUsMessages[i].FirstName
                                            </span>
                                        </div>

                                        <div class="col-12 col-lg-3">
                                            <strong class="d-block h5 mb-0">
                                                Last name
                                            </strong>
                                            <span class="text-secondary">
                                                @ContactUsMessages[i].LastName
                                            </span>
                                        </div>

                                        <div class="col-12 col-lg-3">
                                            <strong class="d-block h5 mb-0">
                                                Phone
                                            </strong>
                                            <span class="text-secondary">
                                                @ContactUsMessages[i].PhoneNumber
                                            </span>
                                        </div>

                                        <div class="col-12 col-lg-3">
                                            <strong class="d-block h5 mb-0">
                                                Email
                                            </strong>
                                            <span class="text-secondary">
                                                @ContactUsMessages[i].Email
                                            </span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 col-lg-3">
                                            <strong class="d-block h5 mb-0">
                                                Details
                                            </strong>
                                            <span class="text-secondary">
                                                @ContactUsMessages[i].Details
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="alert alert-light text-center" role="alert">
                    There are no messages yet...
                </div>
            }
        </div>

        <!-- Tab general -->
        <div class="tab-pane fade" id="General-tab-pane" role="tabpanel" aria-labelledby="General-tab" tabindex="0">
            @if (Model.Data != null && PopoversModel.Data is not null)
            {
                <p class="@StaticHtmlStrings.CSSMainSubTitle_p mt-5">
                    Header menu items
                </p>

                <!-- Header menu -->
                <div class="row row-cols-1 row-cols-md-4 g-4 my-4">
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Main page text
                                </h5>

                                <p class="card-text text-center">
                                    <TextEditor EditorId="@StaticHtmlStrings.HTMLEditorAdminSettingsMenuMainId"
                                                EditorType="@(StaticStrings.TextEditorTypeText)"
                                                Model="MenuModel"
                                                FuncSave="SaveMenu"
                                                Key="@StaticStrings.AdminPageSettingsMenuDataMainKey"
                                                PopoversModel="PopoversModel"
                                                PopoverKey="@StaticStrings.Popover_Admin_1_1_General">
                                        @MenuModel.Data[StaticStrings.AdminPageSettingsMenuDataMainKey]
                                    </TextEditor>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">
                                    About us page text
                                </h5>

                                <p class="card-text text-center">
                                    <TextEditor EditorId="@StaticHtmlStrings.HTMLEditorAdminSettingsMenuAboutUsId"
                                                EditorType="@(StaticStrings.TextEditorTypeText)"
                                                Model="MenuModel"
                                                FuncSave="SaveMenu"
                                                Key="@StaticStrings.AdminPageSettingsMenuDataAboutUsKey"
                                                PopoversModel="PopoversModel"
                                                PopoverKey="@StaticStrings.Popover_Admin_1_2_General">
                                        @MenuModel.Data[StaticStrings.AdminPageSettingsMenuDataAboutUsKey]
                                    </TextEditor>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Contact us page text
                                </h5>

                                <p class="card-text text-center">
                                    <TextEditor EditorId="@StaticHtmlStrings.HTMLEditorAdminSettingsMenuContactUsId"
                                                EditorType="@(StaticStrings.TextEditorTypeText)"
                                                Model="MenuModel"
                                                FuncSave="SaveMenu"
                                                Key="@StaticStrings.AdminPageSettingsMenuDataContactUsKey"
                                                PopoversModel="PopoversModel"
                                                PopoverKey="@StaticStrings.Popover_Admin_1_3_General">
                                        @MenuModel.Data[StaticStrings.AdminPageSettingsMenuDataContactUsKey]
                                    </TextEditor>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Services page text
                                </h5>

                                <p class="card-text text-center">
                                    <TextEditor EditorId="@StaticHtmlStrings.HTMLEditorAdminSettingsMenuServicesId"
                                                EditorType="@(StaticStrings.TextEditorTypeText)"
                                                Model="MenuModel"
                                                FuncSave="SaveMenu"
                                                Key="@StaticStrings.AdminPageSettingsMenuDataServicesKey"
                                                PopoversModel="PopoversModel"
                                                PopoverKey="@StaticStrings.Popover_Admin_1_4_General">
                                        @MenuModel.Data[StaticStrings.AdminPageSettingsMenuDataServicesKey]
                                    </TextEditor>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <p class="@StaticHtmlStrings.CSSMainSubTitle_p mt-5">
                    Others
                </p>

                <div class="row row-cols-1 row-cols-md-4 g-4 my-4">

                    <!-- Logo -->
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">
                                    @Model.Data[StaticStrings.AdminPageDataLogoLabelKey]
                                </h5>

                                <p class="card-text text-center">
                                    <ImageEditor EditorId="@StaticHtmlStrings.ImageEditorAdminLogoId"
                                                 Model="Model"
                                                 FuncSave="Save"
                                                 Key="@StaticStrings.AdminPageDataLogoKey">
                                        <img src="@Model.Data[StaticStrings.AdminPageDataLogoKey]" alt="Logo image" style="max-height:100px;" />
                                    </ImageEditor>
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Footer text -->
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">
                                    @Model.Data[StaticStrings.AdminPageDataFooterTextLabelKey]
                                </h5>

                                <p class="card-text  text-center">
                                    <HTMLEditor EditorId="@StaticHtmlStrings.HTMLEditorAdminFooterTextId"
                                                Model="Model"
                                                FuncSave="Save"
                                                Key="@StaticStrings.AdminPageDataFooterTextKey"
                                                PopoversModel="PopoversModel"
                                                PopoverKey="@StaticStrings.Popover_Admin_2_1_General">
                                        <p>@((MarkupString)Model.Data[StaticStrings.AdminPageDataFooterTextKey])</p>
                                    </HTMLEditor>
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Services button text -->
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">
                                    @Model.Data[StaticStrings.AdminPageDataServicesButtonTextLabelKey]
                                </h5>

                                <p class="card-text text-center">
                                    <TextEditor EditorId="@StaticHtmlStrings.HTMLEditorAdminServicesButtonTextId"
                                                EditorType="@(StaticStrings.TextEditorTypeText)"
                                                Model="Model"
                                                FuncSave="Save"
                                                Key="@StaticStrings.AdminPageDataServicesButtonTextKey"
                                                PopoversModel="PopoversModel"
                                                PopoverKey="@StaticStrings.Popover_Admin_2_2_General">
                                        @Model.Data[StaticStrings.AdminPageDataServicesButtonTextKey]
                                    </TextEditor>
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Custom domain -->
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Custom domain
                                </h5>
                                <p class="card-text text-center mt-3">
                                    <input @bind="CustomDomain" type="text" class="form-control" />
                                    <button @onclick="SaveCustomDomainAsync" type="button" class="btn btn-primary mt-2">Save</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <!-- Tab Social -->
        <div class="tab-pane fade" id="Social-tab-pane" role="tabpanel" aria-labelledby="Social-tab" tabindex="0">
            <div class="row row-cols-1 row-cols-md-3 g-4 mt-4 mb-5">

                @if (Model.Data != null)
                {
                    <SocialNetworks></SocialNetworks>
                }
            </div>
        </div>
    </div>

    <!-- Tab settings -->
    <div class="tab-pane fade" id="Settings-tab-pane" role="tabpanel" aria-labelledby="Settings-tab" tabindex="0">

        <div class="row row-cols-1 row-cols-md-3 g-4 mt-4 mb-5">

            <!-- Change site -->
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">
                            Change site
                        </h5>

                        <p class="card-text">
                            <select @bind="SelectedSite" class="form-select" aria-label="Change site">
                                @foreach (var site in StateManager.UserSites)
                                {
                                    <option value="@site">
                                        @site
                                    </option>
                                }
                            </select>
                        </p>
                    </div>

                    <div class="card-footer">
                        <button @onclick="ChangeSite" class="w-100 btn btn-sm btn-primary mt-2" type="button">
                            Change
                        </button>
                    </div>
                </div>
            </div>

            <!-- Create site -->
            <div class="col">
                <div class="card h-100">
                    <div class="alert d-none" role="alert" id="@StaticHtmlStrings.AdminCreateSiteFormAlertId">
                    </div>
                    <EditForm Model="CreateSiteModel"
                              method="post"
                              OnValidSubmit="CreateSite"
                              FormName="createSite">

                        <div class="card-body">
                            <h5 class="card-title">
                                Create site
                            </h5>

                            <p class="card-text">
                                <DataAnnotationsValidator />
                                <ValidationSummary class="text-danger" role="alert" />
                                <div class="form-floating">
                                    <input @bind="CreateSiteModel.Name" type="text" class="form-control form-control-sm" id="createSiteName" placeholder="Your site name" aria-label="Your site name" required />
                                    <ValidationMessage For="() => CreateSiteModel.Name" class="invalid-feedback" />

                                    <label for="createSiteName">
                                        Name
                                    </label>
                                </div>
                            </p>
                        </div>

                        <div class="card-footer">
                            <button class="w-100 btn btn-sm btn-primary mt-2" type="submit">
                                Create
                            </button>
                        </div>
                    </EditForm>
                </div>
            </div>

            <!-- Rename site -->
            <div class="col">
                <div class="card h-100">
                    <div class="alert d-none" role="alert" id="@StaticHtmlStrings.AdminRenameSiteFormAlertId">
                    </div>
                    <EditForm Model="RenameSiteModel"
                              method="post"
                              OnValidSubmit="RenameSite"
                              FormName="renameSite">

                        <div class="card-body">
                            <h5 class="card-title">
                                Rename site
                            </h5>

                            <p class="card-text">
                                <DataAnnotationsValidator />
                                <ValidationSummary class="text-danger" role="alert" />
                                <div class="form-floating mb-3">
                                    <select @bind="RenameSiteModel.SiteName" class="form-select" aria-label="Rename site" required>
                                        @foreach (var site in StateManager.UserSites)
                                        {
                                            <option value="@site">@site</option>
                                        }
                                    </select>
                                    <ValidationMessage For="() => RenameSiteModel.SiteName" class="invalid-feedback" />

                                    <label for="renameSiteName">Select site</label>
                                </div>
                                <div class="form-floating">
                                    <input @bind="RenameSiteModel.NewName" type="text" class="form-control form-control-sm" id="renameNewSiteName" placeholder="Your new site name" aria-label="Your new site name" required />
                                    <ValidationMessage For="() => RenameSiteModel.NewName" class="invalid-feedback" />

                                    <label for="renameNewSiteName">
                                        New name
                                    </label>
                                </div>
                            </p>
                        </div>

                        <div class="card-footer">
                            <button class="w-100 btn btn-sm btn-primary mt-2" type="submit">
                                Rename
                            </button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>