<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
    <!-- Hero -->
    <div class="container content-space-t-4 content-space-b-1 content-space-b-sm-2">
        <div class="w-lg-75">
            @if (Model.Data != null)
            {
                <TinyMceEditor 
                    TinyMceId="@(StaticHtmlStrings.TinyHomeTitleId)"
                    TinyMceContentFormat="@(StaticStrings.TinyContentFormatHtml)"
                    Model="Model"
                    FuncSave="Save"
                    Key="@(StaticStrings.HomePageDataTitleKey)">
                        <h1 class="display-3 mb-5">@((MarkupString) Model.Data[StaticStrings.HomePageDataTitleKey])</h1>
                </TinyMceEditor>
                <TinyMceEditor 
                    TinyMceId="@(StaticHtmlStrings.TinyHomeSubtitleId)"
                    TinyMceContentFormat="@(StaticStrings.TinyContentFormatHtml)"
                    Model="Model"
                    FuncSave="Save"
                    Key="@(StaticStrings.HomePageDataSubtitleKey)">
                        <p class="lead">@((MarkupString) Model.Data[StaticStrings.HomePageDataSubtitleKey])</p>
                </TinyMceEditor>
            }
        </div>
    </div>
    <!-- End Hero -->

    <div class="border-top mx-auto" style="max-width: 25rem;"></div>

    <!-- Card Grid -->
    <div class="container content-space-2 content-space-lg-3">
        <!-- Heading -->
        <div class="w-md-65 mb-5 mb-md-9">
            @if (Model.Data != null)
            {
                <TinyMceEditor 
                    TinyMceId="@(StaticHtmlStrings.TinyHomeFeaturedCaseStudiesTitleId)"
                    TinyMceContentFormat="@(StaticStrings.TinyContentFormatHtml)"
                    Model="Model"
                    FuncSave="Save"
                    Key="@(StaticStrings.HomePageDataFeaturedCaseStudiesTitleKey)">
                        <span class="text-cap">@((MarkupString) Model.Data[StaticStrings.HomePageDataFeaturedCaseStudiesTitleKey])</span>
                </TinyMceEditor>
                <TinyMceEditor 
                    TinyMceId="@(StaticHtmlStrings.TinyHomeFeaturedCaseStudiesSubtitleId)"
                    TinyMceContentFormat="@(StaticStrings.TinyContentFormatHtml)"
                    Model="Model"
                    FuncSave="Save"
                    Key="@(StaticStrings.HomePageDataFeaturedCaseStudiesSubtitleKey)">
                        <h2 class="lh-base">@((MarkupString) Model.Data[StaticStrings.HomePageDataFeaturedCaseStudiesSubtitleKey])</h2>
                </TinyMceEditor>
            }
        </div>
        <!-- End Heading -->

        <div class="overflow-hidden">
            <div class="row justify-content-md-center gx-sm-3 gx-lg-8 pt-md-8 mb-7">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="d-grid gap-3 gap-lg-8 mt-md-n8">
                        <!-- Card -->
                        <a class="card card-transition bg-soft-primary shadow-none" href="https://themes.getbootstrap.com/product/front-multipurpose-responsive-template/" target="_blank">
                            <div class="card-body">
                                <div class="mb-5">
                                    <img class="img-fluid rounded-2" src="_content/rcl/assets/img/1200x900/img1.jpg" alt="Image Description">
                                </div>

                                <span class="badge bg-primary rounded-pill mb-2">Front-end</span>
                                <h3 class="card-title text-inherit">Front - Multipurpose Responsive Template</h3>
                                <span class="d-block text-body mb-3">Landing &amp; Corporate</span>
                                <p class="card-text text-dark">Super clean, minimalistic, stylized mockup collection with awesome customization features and huge resolution.</p>
                            </div>
                        </a>
                        <!-- End Card -->
                        <!-- Card -->
                        <a class="card card-transition bg-soft-info shadow-none" href="https://themes.getbootstrap.com/product/space-multipurpose-responsive-template/" target="_blank">
                            <div class="card-body">
                                <div class="mb-5">
                                    <img class="img-fluid rounded-2" src="_content/rcl/assets/img/1200x900/img3.jpg" alt="Image Description">
                                </div>

                                <div class="d-flex align-items-center mb-4">
                                    <div class="flex-shrink-0">
                                        <img class="avatar avatar-xs" src="_content/rcl/assets/svg/brands/figma-icon.svg" alt="Logo">
                                    </div>
                                    <div class="flex-grow-1 ms-2">
                                        <span class="text-body">Compatible with Figma</span>
                                    </div>
                                </div>

                                <h3 class="card-title text-inherit mb-1">Space – Multipurpose Responsive Template</h3>
                                <span class="d-block text-body mb-3">Landing &amp; Corporate</span>
                                <p class="card-text text-dark">Space – Multipurpose Responsive Template is a fully responsive and yet modern premium Bootstrap theme.</p>
                            </div>
                        </a>
                        <!-- End Card -->
                    </div>
                </div>
                <!-- End Col -->

                <div class="col-sm-6">
                    <div class="d-grid gap-3 gap-lg-8">
                        <!-- Card -->
                        <a class="card card-transition bg-soft-dark shadow-none" href="https://themes.getbootstrap.com/product/front-admin-dashboard-template/" target="_blank">
                            <div class="card-body">
                                <div class="mb-5">
                                    <img class="img-fluid rounded-2" src="_content/rcl/assets/img/1200x900/img2.jpg" alt="Image Description">
                                </div>

                                <div class="d-flex align-items-center mb-4">
                                    <div class="flex-shrink-0">
                                        <img class="avatar avatar-xs" src="_content/rcl/assets/svg/brands/figma-icon.svg" alt="Logo">
                                    </div>
                                    <div class="flex-grow-1 ms-2">
                                        <span class="text-body">Figma coming soon</span>
                                    </div>
                                </div>

                                <h3 class="card-title text-inherit mb-0">Front – Admin &amp; Dashboard Template</h3>
                                <span class="d-block text-body mb-3">Admin &amp; Dashboard</span>
                                <p class="card-text text-dark">Whether you’re creating a web application, dashboard, admin panels, or SASS based interface — Front’s feature-rich components and designed demo pages help you create the best possible web application projects.</p>
                            </div>
                        </a>
                        <!-- End Card -->
                        <!-- Card -->
                        <a class="card card-transition bg-soft-dark shadow-none" href="https://themes.getbootstrap.com/product/nova-responsive-webapp-ui-kit/" target="_blank">
                            <div class="card-body">
                                <div class="mb-5">
                                    <img class="img-fluid rounded-2" src="_content/rcl/assets/img/1200x900/img4.jpg" alt="Image Description">
                                </div>

                                <span class="badge bg-primary rounded-pill mb-2">Admin</span>
                                <h3 class="card-title text-inherit mb-1">Nova – Responsive WebApp UI Kit</h3>
                                <span class="d-block text-body mb-3">Admin &amp; Dashboard</span>
                                <p class="card-text text-dark">Nova is a modern and fully responsive WebApp UI Kit – it is the perfect starting point for any type of Web Applications.</p>
                            </div>
                        </a>
                        <!-- End Card -->
                    </div>
                </div>
                <!-- End Col -->
            </div>
            <!-- End Row -->
        </div>

        <div class="text-center">
            @if (Model.Data != null)
            {
                <TinyMceEditor 
                    TinyMceId="@(StaticHtmlStrings.TinyHomeViewAllWorksButtonTextId)"
                    TinyMceContentFormat="@(StaticStrings.TinyContentFormatText)"
                    Model="Model"
                    FuncSave="Save"
                    Key="@(StaticStrings.HomePageDataViewAllWorksButtonTextKey)">
                        <a class="btn btn-outline-primary btn-transition" href="https://htmlstream.com/" target="_blank">
                            @(Model.Data[StaticStrings.HomePageDataViewAllWorksButtonTextKey])
                        </a>
                </TinyMceEditor>
            }
        </div>
    </div>
    <!-- End Card Grid -->

    <div class="border-top mx-auto" style="max-width: 25rem;"></div>

    <!-- Testimonials -->
    <div class="container content-space-1 content-space-md-3">
        <!-- Swiper Slider -->
        <div class="js-swiper-single-testimonials swiper">
            <div class="swiper-wrapper">
                <!-- Slide -->
                <div class="swiper-slide">
                    <!-- Blockquote -->
                    <figure class="w-md-65 text-center mx-md-auto">
                        <div class="mb-3">
                            <img class="avatar avatar-xl avatar-circle" src="_content/rcl/assets/img/160x160/img10.jpg" alt="Image Description">
                        </div>

                        <blockquote class="blockquote">“ It has many landing page variations to choose from, which one is always a big advantage. ”</blockquote>

                        <figcaption class="blockquote-footer mb-5">
                            Lida Reidy
                            <span class="blockquote-footer-source">Project Manager</span>
                        </figcaption>

                        <img class="avatar avatar-xl avatar-4x3" src="_content/rcl/assets/svg/brands/mailchimp-primary.svg" alt="Logo">
                    </figure>
                    <!-- End Blockquote -->
                </div>
                <!-- End Slide -->
                <!-- Slide -->
                <div class="swiper-slide">
                    <!-- Blockquote -->
                    <figure class="w-md-65 text-center mx-md-auto">
                        <div class="mb-3">
                            <img class="avatar avatar-xl avatar-circle" src="_content/rcl/assets/img/160x160/img4.jpg" alt="Image Description">
                        </div>

                        <blockquote class="blockquote">“ I just wanted to say that I'm very happy with my purchase of Front so far. The documentation is outstanding - clear and detailed. ”</blockquote>

                        <figcaption class="blockquote-footer mb-5">
                            Philip
                            <span class="blockquote-footer-source">Product Manager</span>
                        </figcaption>

                        <img class="avatar avatar-xl avatar-4x3" src="_content/rcl/assets/svg/brands/mailchimp-primary.svg" alt="Logo">
                    </figure>
                    <!-- End Blockquote -->
                </div>
                <!-- End Slide -->
                <!-- Slide -->
                <div class="swiper-slide">
                    <!-- Blockquote -->
                    <figure class="w-md-65 text-center mx-md-auto">
                        <div class="mb-3">
                            <img class="avatar avatar-xl avatar-circle" src="_content/rcl/assets/img/160x160/img9.jpg" alt="Image Description">
                        </div>

                        <blockquote class="blockquote">“ This is a beautiful template with exciting components and endless features. ”</blockquote>

                        <figcaption class="blockquote-footer mb-5">
                            Christina Kray
                            <span class="blockquote-footer-source">HR Director</span>
                        </figcaption>

                        <img class="avatar avatar-xl avatar-4x3" src="_content/rcl/assets/svg/brands/capsule-primary.svg" alt="Logo">
                    </figure>
                    <!-- End Blockquote -->
                </div>
                <!-- End Slide -->
            </div>

            <!-- Pagination -->
            <div class="js-swiper-single-testimonials-pagination swiper-pagination"></div>
        </div>
        <!-- End Swiper Slider -->
    </div>
    <!-- End Testimonials -->

    <div class="border-top mx-auto" style="max-width: 25rem;"></div>
</main>
<!-- ========== END MAIN CONTENT ========== -->
