<div class="px-2 py-1 text-center container">

    <!-- HomePageDataTitleKey -->
    @if (Model.Data != null)
    {
        <HTMLEditor EditorId="@(StaticHtmlStrings.HTMLEditorHomeTitleId)"
                    EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                    Model="Model"
                    FuncSave="Save"
                    Key="@(StaticStrings.HomePageDataTitleKey)">
            <h1 class="display-4 fw-bold mb-2">@((MarkupString)Model.Data[StaticStrings.HomePageDataTitleKey])</h1>
        </HTMLEditor>
    }

    <!-- HomePageDataSubtitleKey -->
    <div class="col-lg-6 mx-auto">
        @if (Model.Data != null)
        {
            <HTMLEditor EditorId="@(StaticHtmlStrings.HTMLEditorHomeSubtitleId)"
                        EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                        Model="Model"
                        FuncSave="Save"
                        Key="@(StaticStrings.HomePageDataSubtitleKey)">
                <p class="lead mb-4 fw-normal">@((MarkupString)Model.Data[StaticStrings.HomePageDataSubtitleKey])</p>
            </HTMLEditor>
        }
    </div>

    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center py-5">
        <button type="button btn-dark text-white" class="btn btn-dark text-white px-4 gap-3">Get in touch</button>
    </div>

    <!-- HomePageDataImageKey -->
    @if (Model.Data != null)
    {
        <ImageEditor EditorId="@StaticHtmlStrings.ImageEditorHomeImageId"
                     Model="Model"
                     FuncSave="Save"
                     Key="@(StaticStrings.HomePageDataImageKey)">
            <img src="@Model.Data[StaticStrings.HomePageDataImageKey]" class="img-fluid rounded mb-5" alt="Example image" loading="lazy" />
        </ImageEditor>
    }

    @if (Model.Data != null)
    {
        <!-- HomePageDataFeaturedCaseStudiesTitleKey -->
        <HTMLEditor EditorId="@(StaticHtmlStrings.HTMLEditorHomeFeaturedCaseStudiesTitleId)"
                    EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                    Model="Model"
                    FuncSave="Save"
                    Key="@(StaticStrings.HomePageDataFeaturedCaseStudiesTitleKey)">
            <h2 class="display-5 fw-bold mb-2 mt-5">@((MarkupString)Model.Data[StaticStrings.HomePageDataFeaturedCaseStudiesTitleKey])</h2>
        </HTMLEditor>

        <!-- HomePageDataFeaturedCaseStudiesSubtitleKey -->
        <div class="col-lg-6 mx-auto">
            <HTMLEditor EditorId="@(StaticHtmlStrings.HTMLEditorHomeFeaturedCaseStudiesSubtitleId)"
                        EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                        Model="Model"
                        FuncSave="Save"
                        Key="@(StaticStrings.HomePageDataFeaturedCaseStudiesSubtitleKey)">
                <p class="lead mb-4 fw-normal ">@((MarkupString)Model.Data[StaticStrings.HomePageDataFeaturedCaseStudiesSubtitleKey])</p>
            </HTMLEditor>
        </div>
    }

    <!-- List of services to show -->
    <FeaturedCaseStudies ServiceItems="ServiceItems">
    </FeaturedCaseStudies>

    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center py-5">
        @if (Model.Data != null)
        {
            <HTMLEditor EditorId="@(StaticHtmlStrings.HTMLEditorHomeViewAllWorksButtonTextId)"
                        EditorContentFormat="@(StaticStrings.EditorContentFormatText)"
                        Model="Model"
                        FuncSave="Save"
                        Key="@(StaticStrings.HomePageDataViewAllWorksButtonTextKey)">
                <a class="btn btn-dark text-white px-4 gap-3" href="@GetPageUrl(StaticRoutesStrings.ServicesPageUrl)" target="_blank">
                    @((MarkupString)Model.Data[StaticStrings.HomePageDataViewAllWorksButtonTextKey])
                </a>
            </HTMLEditor>
        }
    </div>

    <!-- List of reviews -->
    <TestimonialsList></TestimonialsList>

</div>
