<div class="px-2 py-1 text-center container">
    @if (Model.Data is not null && PopoversModel.Data is not null)
    {
        <!-- CSSMainTitle_h1 -->
        <HTMLEditor EditorId="@(StaticHtmlStrings.HTMLEditorHomeTitleId)"
                    EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                    Model="Model"
                    FuncSave="Save"
                    Key="@(StaticStrings.HomePageDataTitleKey)"
                    PopoversModel="PopoversModel"
                    PopoverKey="@StaticStrings.Popover_Main_1_Title">
            <h1 class="@StaticHtmlStrings.CSSMainTitle_h1">
                @((MarkupString)Model.Data[StaticStrings.HomePageDataTitleKey])
            </h1>
        </HTMLEditor>

        <!-- CSSMainSubTitle_p -->
        <div class="col-lg-6 mx-auto">
            <HTMLEditor EditorId="@(StaticHtmlStrings.HTMLEditorHomeSubtitleId)"
                        EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                        Model="Model"
                        FuncSave="Save"
                        Key="@(StaticStrings.HomePageDataSubtitleKey)"
                        PopoversModel="PopoversModel"
                        PopoverKey="@StaticStrings.Popover_Main_1_Subtitle">
                <p class="@StaticHtmlStrings.CSSMainSubTitle_p">
                    @((MarkupString)Model.Data[StaticStrings.HomePageDataSubtitleKey])
                </p>
            </HTMLEditor>
        </div>

        <!-- btn -->
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center py-5">
            <a href="@StateManager.GetPageUrl(StaticRoutesStrings.ContactUsPageUrl)" class="@StaticHtmlStrings.CSSButtonDarkInTheText">
                Get in touch
            </a>
        </div>

        <!-- img -->
        <ImageEditor EditorId="@StaticHtmlStrings.ImageEditorHomeImageId"
                     Model="Model"
                     FuncSave="Save"
                     Key="@(StaticStrings.HomePageDataImageKey)"
                     PopoversModel="PopoversModel"
                     PopoverKey="@StaticStrings.Popover_Main_1_ImageEditor">
            <img src="@Model.Data[StaticStrings.HomePageDataImageKey]" class="img-fluid rounded mb-5" alt="Example image" loading="lazy" />
        </ImageEditor>

        <!-- CSSMainTitle_h2 -->
        <HTMLEditor EditorId="@(StaticHtmlStrings.HTMLEditorHomeFeaturedCaseStudiesTitleId)"
                    EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                    Model="Model"
                    FuncSave="Save"
                    Key="@(StaticStrings.HomePageDataFeaturedCaseStudiesTitleKey)"
                    PopoversModel="PopoversModel"
                    PopoverKey="@StaticStrings.Popover_Main_2_Title">
            <h2 class="@StaticHtmlStrings.CSSMainTitle_h2">
                @((MarkupString)Model.Data[StaticStrings.HomePageDataFeaturedCaseStudiesTitleKey])
            </h2>
        </HTMLEditor>

        <!-- CSSMainSubTitle_p -->
        <div class="col-lg-6 mx-auto">
            <HTMLEditor EditorId="@(StaticHtmlStrings.HTMLEditorHomeFeaturedCaseStudiesSubtitleId)"
                        EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                        Model="Model"
                        FuncSave="Save"
                        Key="@(StaticStrings.HomePageDataFeaturedCaseStudiesSubtitleKey)"
                        PopoversModel="PopoversModel"
                        PopoverKey="@StaticStrings.Popover_Main_2_Subtitle">
                <p class="@StaticHtmlStrings.CSSMainSubTitle_p">
                    @((MarkupString)Model.Data[StaticStrings.HomePageDataFeaturedCaseStudiesSubtitleKey])
                </p>
            </HTMLEditor>
        </div>

        <!-- List of services to show -->
        <FeaturedCaseStudies 
            ServiceItems="ServiceItems"
            PopoversModel="PopoversModel"
            PopoverKey="@StaticStrings.Popover_Main_1_Services">
        </FeaturedCaseStudies>

        <HTMLEditor EditorId="@(StaticHtmlStrings.HTMLEditorHomeViewAllWorksButtonTextId)"
                    EditorContentFormat="@(StaticStrings.EditorContentFormatText)"
                    Model="Model"
                    FuncSave="Save"
                    Key="@(StaticStrings.HomePageDataViewAllWorksButtonTextKey)"
                    PopoversModel="PopoversModel"
                    PopoverKey="@StaticStrings.Popover_Main_1_Button">

            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center py-5">
                <a class="@StaticHtmlStrings.CSSButtonDarkInTheText" href="@StateManager.GetPageUrl(StaticRoutesStrings.ServicesPageUrl)" target="_blank">
                    @((MarkupString)Model.Data[StaticStrings.HomePageDataViewAllWorksButtonTextKey])
                </a>
            </div>

        </HTMLEditor>

        <!-- List of -->
        <TestimonialsList
            PopoversModel="PopoversModel"
            PopoverKey="@StaticStrings.Popover_Main_1_Card">
        </TestimonialsList>
    }
</div>
