<div class="px-2 py-1 text-center container">
    @if (Model.Data is not null)
    {
        <!-- CSSMainTitle_h1 -->
        <HTMLEditor EditorId="@(StaticHtmlStrings.HTMLEditorServicesTitleId)"
                    EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                    Model="Model"
                    FuncSave="Save"
                    Key="@(StaticStrings.ServicesPageDataTitleKey)">
            <h1 class="@StaticHtmlStrings.CSSMainTitle_h1">
                @((MarkupString)Model.Data[StaticStrings.ServicesPageDataTitleKey])
            </h1>
        </HTMLEditor>

        <ImageEditor EditorId="@StaticHtmlStrings.ImageEditorServicesGalleryImage1Id"
                     Model="Model"
                     FuncSave="Save"
                     Key="@(StaticStrings.ServicesPageDataGalleryImage1Key)">
            <img class="img-fluid rounded my-5" src="@Model.Data[StaticStrings.ServicesPageDataGalleryImage1Key]" alt="Image Description" />
        </ImageEditor>

        <!-- CSSMainTitle_h2 -->
        <HTMLEditor EditorId="@(StaticHtmlStrings.HTMLEditorServicesListTitleId)"
                    EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                    Model="Model"
                    FuncSave="Save"
                    Key="@(StaticStrings.ServicesPageDataServicesListTitleKey)">
            <h2 class="@StaticHtmlStrings.CSSMainTitle_h2">
                @((MarkupString)Model.Data[StaticStrings.ServicesPageDataServicesListTitleKey])
            </h2>
        </HTMLEditor>

        <!-- CSSMainTitle_h2 -->
        <HTMLEditor EditorId="@(StaticHtmlStrings.HTMLEditorServicesListSubtitleId)"
                    EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                    Model="Model"
                    FuncSave="Save"
                    Key="@(StaticStrings.ServicesPageDataServicesListSubtitleKey)">
            <p class="@StaticHtmlStrings.CSSMainSubTitle_p">
                @((MarkupString)Model.Data[StaticStrings.ServicesPageDataServicesListSubtitleKey])
            </p>
        </HTMLEditor>

        <!-- List of -->
        <ServicesList ServiceItems="ServiceItems">
        </ServicesList>

        <!-- Title and Sub for the List of -->
        <HTMLEditor EditorId="@(StaticHtmlStrings.HTMLEditorFAQTitleId)"
                    EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                    Model="Model"
                    FuncSave="Save"
                    Key="@(StaticStrings.ServicesPageDataFAQTitleKey)">
            <h2 class="@StaticHtmlStrings.CSSMainTitle_h2">
                @((MarkupString)Model.Data[StaticStrings.ServicesPageDataFAQTitleKey])
            </h2>
        </HTMLEditor>

        <!-- List of -->
        <FAQList></FAQList>
    }
</div>
