<div class="px-2 py-1 text-center container">
    @if (Model.Data is not null && PopoversModel.Data is not null)
    {
        <!-- CSSMainTitle_h1 -->
        <HTMLEditor EditorId="@(StaticHtmlStrings.HTMLEditorServicesTitleId)"
                    EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                    Model="Model"
                    FuncSave="Save"
                    Key="@(StaticStrings.ServicesPageDataTitleKey)"
                    PopoversModel="PopoversModel"
                    PopoverKey="@StaticStrings.Popover_Services_1_Title">
            <h1 class="@StaticHtmlStrings.CSSMainTitle_h1">
                @((MarkupString)Model.Data[StaticStrings.ServicesPageDataTitleKey])
            </h1>
        </HTMLEditor>

        <ImageEditor EditorId="@StaticHtmlStrings.ImageEditorServicesImageId"
                     Model="Model"
                     FuncSave="Save"
                     Key="@(StaticStrings.ServicesPageDataImageKey)"
                     PopoversModel="PopoversModel"
                     PopoverKey="@StaticStrings.Popover_Services_1_ImageEditor">
            <img class="img-fluid rounded my-5" src="@Model.Data[StaticStrings.ServicesPageDataImageKey]" alt="Image Description" />
        </ImageEditor>

        <!-- CSSMainTitle_h2 -->
        <HTMLEditor EditorId="@(StaticHtmlStrings.HTMLEditorServicesListTitleId)"
                    EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                    Model="Model"
                    FuncSave="Save"
                    Key="@(StaticStrings.ServicesPageDataServicesListTitleKey)"
                    PopoversModel="PopoversModel"
                    PopoverKey="@StaticStrings.Popover_Services_2_Title">
            <h2 class="@StaticHtmlStrings.CSSMainTitle_h2">
                @((MarkupString)Model.Data[StaticStrings.ServicesPageDataServicesListTitleKey])
            </h2>
        </HTMLEditor>

        <!-- CSSMainTitle_h2 -->
        <HTMLEditor EditorId="@(StaticHtmlStrings.HTMLEditorServicesListSubtitleId)"
                    EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                    Model="Model"
                    FuncSave="Save"
                    Key="@(StaticStrings.ServicesPageDataServicesListSubtitleKey)"
                    PopoversModel="PopoversModel"
                    PopoverKey="@StaticStrings.Popover_Services_2_Subtitle">
            <p class="@StaticHtmlStrings.CSSMainSubTitle_p">
                @((MarkupString)Model.Data[StaticStrings.ServicesPageDataServicesListSubtitleKey])
            </p>
        </HTMLEditor>

        <!-- List of -->
        <ServicesList 
            ServiceItems="ServiceItems"
            PopoversModel="PopoversModel"
            PopoverKey="@StaticStrings.Popover_Services_1_Card"
            PageType="PageType">
        </ServicesList>

        <!-- Title and Sub for the List of -->
        <HTMLEditor EditorId="@(StaticHtmlStrings.HTMLEditorFAQTitleId)"
                    EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                    Model="Model"
                    FuncSave="Save"
                    Key="@(StaticStrings.ServicesPageDataFAQTitleKey)"
                    PopoversModel="PopoversModel"
                    PopoverKey="@StaticStrings.Popover_Services_3_Title">
            <h2 class="@StaticHtmlStrings.CSSMainTitle_h2">
                @((MarkupString)Model.Data[StaticStrings.ServicesPageDataFAQTitleKey])
            </h2>
        </HTMLEditor>

        <!-- List of -->
        <FAQList
            PopoversModel="PopoversModel"
            PopoverKey="@StaticStrings.Popover_Services_2_Card"
            PageType="PageType">
        </FAQList>

        <!-- SEO -->
        <SEO 
            Model="Model"
            FuncSave="Save">
        </SEO>
    }
</div>
