<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
    <!-- Gallery -->
    <div class="container content-space-t-3 content-space-t-lg-5">
        <!-- Heading -->
        <div class="w-lg-65 text-center mx-lg-auto mb-5 mb-md-9">
            @if (Model.Data != null)
            {
                <TinyMceEditor 
                    TinyMceId="@(StaticHtmlStrings.TinyServicesTitleId)"
                    TinyMceContentFormat="@(StaticStrings.TinyContentFormatHtml)"
                    Model="Model"
                    FuncSave="Save"
                    Key="@(StaticStrings.ServicesPageDataTitleKey)">
                        <h1>@((MarkupString) Model.Data[StaticStrings.ServicesPageDataTitleKey])</h1>
                </TinyMceEditor>
            }
        </div>
        <!-- End Heading -->

        <div class="row gx-3 gx-lg-4">
            <div class="col-5 align-self-end">
                <img class="img-fluid rounded-2" src="_content/rcl/assets/img/750x750/img6.jpg" alt="Image Description">
            </div>
            <!-- End Col -->

            <div class="col-7">
                <div class="ms-lg-4">
                    <img class="img-fluid rounded-2" src="_content/rcl/assets/img/750x750/img1.jpg" alt="Image Description">
                </div>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
    <!-- End Gallery -->
    <!-- Icon Blocks -->
    <div class="container content-space-2 content-space-lg-3">
        <!-- Heading -->
        <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
            @if (Model.Data != null)
            {
                <TinyMceEditor 
                    TinyMceId="@(StaticHtmlStrings.TinyServicesListTitleId)"
                    TinyMceContentFormat="@(StaticStrings.TinyContentFormatHtml)"
                    Model="Model"
                    FuncSave="Save"
                    Key="@(StaticStrings.ServicesPageDataServicesListTitleKey)">
                        <span class="text-cap">
                            @((MarkupString) Model.Data[StaticStrings.ServicesPageDataServicesListTitleKey])
                        </span>
                </TinyMceEditor>
                <TinyMceEditor 
                    TinyMceId="@(StaticHtmlStrings.TinyServicesListSubtitleId)"
                    TinyMceContentFormat="@(StaticStrings.TinyContentFormatHtml)"
                    Model="Model"
                    FuncSave="Save"
                    Key="@(StaticStrings.ServicesPageDataServicesListSubtitleKey)">
                        <h2>@((MarkupString) Model.Data[StaticStrings.ServicesPageDataServicesListSubtitleKey])</h2>                    
                </TinyMceEditor>
            }
        </div>
        <!-- End Heading -->

        <div class="row gx-3 mb-5">
            <TinyMceServicesList
                SiteName="@SiteNameLower"
                ServiceItems="ServiceItems">
            </TinyMceServicesList>
        </div>
    </div>
    <!-- End Icon Blocks -->
    <!-- FAQ -->
    <div class="container content-space-2 content-space-lg-3">
        <!-- Heading -->
        <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
            @if (Model.Data != null)
            {
                <TinyMceEditor 
                    TinyMceId="@(StaticHtmlStrings.TinyFAQTitleId)"
                    TinyMceContentFormat="@(StaticStrings.TinyContentFormatHtml)"
                    Model="Model"
                    FuncSave="Save"
                    Key="@(StaticStrings.ServicesPageDataFAQTitleKey)">
                        <h2>@((MarkupString) Model.Data[StaticStrings.ServicesPageDataFAQTitleKey])</h2>
                </TinyMceEditor>
            }
        </div>
        <!-- End Heading -->

        <div class="w-lg-65 mx-lg-auto">
            <!-- Accordion -->
            <div class="accordion accordion-flush accordion-lg" id="accordionFAQ">
                <FAQList 
                    SiteName="@SiteNameLower">
                </FAQList>
            </div>
            <!-- End Accordion -->
        </div>
    </div>
    <!-- End FAQ -->
</main>
<!-- ========== END MAIN CONTENT ========== -->
