<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
    <!-- Gallery -->
    <div class="container content-space-t-3 content-space-t-lg-5">
        <!-- Heading -->
        <div class="w-lg-65 text-center mx-lg-auto mb-5 mb-md-9">
            @if (Model.Data != null)
            {
                <TinyMceEditor 
                    TinyMceId="@(StaticHtmlStrings.TinyServicesTitleId)"
                    TinyMceContentFormat="@(StaticStrings.TinyContentFormatHtml)"
                    Model="Model"
                    FuncSave="Save"
                    Key="@(StaticStrings.ServicesPageDataTitleKey)">
                        <h1>@((MarkupString) Model.Data[StaticStrings.ServicesPageDataTitleKey])</h1>
                </TinyMceEditor>
            }
        </div>
        <!-- End Heading -->

        <div class="row gx-3 gx-lg-4">
            <div class="col-5 align-self-end">
                <img class="img-fluid rounded-2" src="_content/rcl/assets/img/750x750/img6.jpg" alt="Image Description">
            </div>
            <!-- End Col -->

            <div class="col-7">
                <div class="ms-lg-4">
                    <img class="img-fluid rounded-2" src="_content/rcl/assets/img/750x750/img1.jpg" alt="Image Description">
                </div>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
    <!-- End Gallery -->
    <!-- Icon Blocks -->
    <div class="container content-space-2 content-space-lg-3">
        <!-- Heading -->
        <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
            @if (Model.Data != null)
            {
                <TinyMceEditor 
                    TinyMceId="@(StaticHtmlStrings.TinyServicesListTitleId)"
                    TinyMceContentFormat="@(StaticStrings.TinyContentFormatHtml)"
                    Model="Model"
                    FuncSave="Save"
                    Key="@(StaticStrings.ServicesPageDataServicesListTitleKey)">
                        <span class="text-cap">
                            @((MarkupString) Model.Data[StaticStrings.ServicesPageDataServicesListTitleKey])
                        </span>
                </TinyMceEditor>
                <TinyMceEditor 
                    TinyMceId="@(StaticHtmlStrings.TinyServicesListSubtitleId)"
                    TinyMceContentFormat="@(StaticStrings.TinyContentFormatHtml)"
                    Model="Model"
                    FuncSave="Save"
                    Key="@(StaticStrings.ServicesPageDataServicesListSubtitleKey)">
                        <h2>@((MarkupString) Model.Data[StaticStrings.ServicesPageDataServicesListSubtitleKey])</h2>                    
                </TinyMceEditor>
            }
        </div>
        <!-- End Heading -->

        <div class="row gx-3 mb-5">
            <TinyMceServicesList
                SiteName="@SiteNameLower"
                ServiceItems="ServiceItems">
            </TinyMceServicesList>
        </div>
    </div>
    <!-- End Icon Blocks -->
    <!-- FAQ -->
    <div class="container content-space-2 content-space-lg-3">
        <!-- Heading -->
        <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
            @if (Model.Data != null)
            {
                <TinyMceEditor 
                    TinyMceId="@(StaticHtmlStrings.TinyServicesFAQTitleId)"
                    TinyMceContentFormat="@(StaticStrings.TinyContentFormatHtml)"
                    Model="Model"
                    FuncSave="Save"
                    Key="@(StaticStrings.ServicesPageDataFAQTitleKey)">
                        <h2>@((MarkupString) Model.Data[StaticStrings.ServicesPageDataFAQTitleKey])</h2>
                </TinyMceEditor>
            }
        </div>
        <!-- End Heading -->

        <div class="w-lg-65 mx-lg-auto">
            <!-- Accordion -->
            <div class="accordion accordion-flush accordion-lg" id="accordionFAQ">
                <!-- Accordion Item -->
                <div class="accordion-item">
                    <div class="accordion-header" id="headingBasicsOne">
                        <a class="accordion-button" role="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            What methods of payments are supported?
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingBasicsOne" data-bs-parent="#accordionFAQ">
                        <div class="accordion-body">
                            You can purchase the themes on Bootstrap Themes via any major credit/debit card (via Stripe) or with your Paypal account. We don't support cryptocurrencies or invoicing at this time.
                        </div>
                    </div>
                </div>
                <!-- End Accordion Item -->
                <!-- Accordion Item -->
                <div class="accordion-item">
                    <div class="accordion-header" id="headingBasicsTwo">
                        <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Can I cancel at anytime?
                        </a>
                    </div>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingBasicsTwo" data-bs-parent="#accordionFAQ">
                        <div class="accordion-body">
                            If you'd like a refund please reach out to us at <a href="#">themes@getbootstrap.com</a>. If you need technical help with the theme before a refund please reach out to the seller first and they can get in touch with us if they're unable to resolve the issue.
                        </div>
                    </div>
                </div>
                <!-- End Accordion Item -->
                <!-- Accordion Item -->
                <div class="accordion-item">
                    <div class="accordion-header" id="headingBasicsThree">
                        <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            How do I get a receipt for my purchase?
                        </a>
                    </div>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingBasicsThree" data-bs-parent="#accordionFAQ">
                        <div class="accordion-body">
                            You'll receive an email from Bootstrap themes once your purchase is complete.
                        </div>
                    </div>
                </div>
                <!-- End Accordion Item -->
                <!-- Accordion Item -->
                <div class="accordion-item">
                    <div class="accordion-header" id="headingBasicsFour">
                        <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Which license do I need?
                        </a>
                    </div>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingBasicsFour" data-bs-parent="#accordionFAQ">
                        <div class="accordion-body">
                            There are three license types - <a href="#">Standard</a>, <a href="#">Multisite</a>, and <a href="#">Extended</a>. We've provided the table below for a quick look at the difference between the them, as well as a few examples of ways each license could be used. If you'd like more of the nitty-gritty details you can find them below and always feel free to reach out with any questions you have at <a href="#">themes@getbootstrap.com</a>.
                        </div>
                    </div>
                </div>
                <!-- End Accordion Item -->
            </div>
            <!-- End Accordion -->
        </div>
    </div>
    <!-- End FAQ -->
</main>
<!-- ========== END MAIN CONTENT ========== -->
