<div class="px-2 py-1 text-center container">
    @if (Model.Data is not null)
    {
@*         <!-- CSSMainTitle_h1 -->
        <HTMLEditor EditorId="@(StaticHtmlStrings.HTMLEditorHomeTitleId)"
                    EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                    Model="Model"
                    FuncSave="Save"
                    Key="@(StaticStrings.HomePageDataTitleKey)">
            <h1 class="@StaticHtmlStrings.CSSMainTitle_h1">
                @((MarkupString)Model.Data[StaticStrings.HomePageDataTitleKey])
            </h1>
        </HTMLEditor>

        <!-- CSSMainSubTitle_p -->
        <div class="col-lg-6 mx-auto">
            <HTMLEditor EditorId="@(StaticHtmlStrings.HTMLEditorHomeSubtitleId)"
                        EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                        Model="Model"
                        FuncSave="Save"
                        Key="@(StaticStrings.HomePageDataSubtitleKey)">
                <p class="@StaticHtmlStrings.CSSMainSubTitle_p">
                    @((MarkupString)Model.Data[StaticStrings.HomePageDataSubtitleKey])
                </p>
            </HTMLEditor>
        </div> *@

        <HTMLEditor 
            EditorId="@(StaticHtmlStrings.HTMLEditorServicePageContentId)"
            EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
            Model="Model"
            FuncSave="Save"
            Key="@Key">
                @((MarkupString) Model.Data[Key])
        </HTMLEditor>
    }
</div>
