<footer class="container content-space-2 text-center">
    @if (Model.Data != null)
    {
        <a class="d-inline-flex align-items-center mb-3" href="@GetPageUrl(StaticRoutesStrings.EmptyRoute)" aria-label="Front">
            <img class="brand" src="@Model.Data[StaticStrings.AdminPageDataLogoKey]" alt="Logo" style="max-height:100px;" />
        </a>
        <p class="fs-6">@Model.Data[StaticStrings.AdminPageDataFooterTextKey]</p>
    }
    @if (SocialNetworksModel.Data != null && SocialNetworksModel.Data.Count > 0)
    {
        <ul class="list-inline pb-md-4">
            @for (int i = 0; i < SocialNetworks.Count; i++)
            {
                var serviceKeyIndex = i * 3;
                var serviceKey = SocialNetworksModel.Data.ElementAt(serviceKeyIndex).Value;
                var serviceImageKey = serviceKey + StaticStrings.ImageKeyEnding;
                var serviceUrlKey = serviceKey + StaticStrings.UrlKeyEnding;

                <li class="list-inline-item">
                    <a class="btn btn-ghost-secondary btn-sm btn-icon rounded-circle" href="@SocialNetworksModel.Data[serviceUrlKey]">
                        <img src="@SocialNetworksModel.Data[serviceImageKey]" />
                    </a>
                </li>
            }
        </ul>
    }
</footer>
