@using shared.Helpers

<footer class="footer mt-auto content-space-2 text-center">

    <div class="border-top mx-auto pb-5" style="max-width: 100%"></div>
    @if (Model.Data is not null && LocalizationModel.Data is not null)
    {
        <!-- Logo -->
        <div class="row pb-5">
            <div class="col-lg-12 col-sm-12">
                <a class="d-inline-flex align-items-center mb-3" href="@StateManager.GetPageUrl(StaticRoutesStrings.EmptyRoute)" aria-label="Front">
                    <img class="brand" src="@Model.Data[StaticStrings.AdminPageDataLogoKey]" alt="Logo" style="max-height:100px;" />
                </a>
            </div>
        </div>

        <!-- Midle row -->
        <div class="row">

            <!-- Language -->
            <div class="col-lg-4 col-sm-12  pb-3">
                <a class="btn btn-icon" href="@StateManager.GetCurrentUrlWithLanguage(StaticStrings.EnLanguageCode)">
                    <img style="width:32px; height:32px;" src="_content/rcl/assets/icons/american-flag-32.png" />
                </a>
                <a class="btn btn-icon" href="@StateManager.GetCurrentUrlWithLanguage(StaticStrings.UaLanguageCode)">
                    <img style="width:32px; height:32px;" src="_content/rcl/assets/icons/ukrainian-flag-32.png" />
                </a>
            </div>

            <!-- Social networks -->
            <div class="col-lg-4 col-sm-12  pb-3">
                @if (SocialNetworksModel.Data is not null && SocialNetworksModel.Data.Count > 0)
                {
                    @foreach (var item in SocialNetworks)
                    {
                        var serviceItemKey = item.ShortDesc.FirstOrDefault().Key;
                        var serviceImageKey = serviceItemKey + StaticStrings.ImageKeyEnding;
                        var serviceUrlKey = serviceItemKey + StaticStrings.UrlKeyEnding;

                        @if (VisibilityHelpers.IsVisible(item.ShortDesc, serviceItemKey))
                        {
                            <a class="btn btn-icon" href="@SocialNetworksModel.Data[serviceUrlKey]">
                                <img style="width:32px; height:32px;" src="@SocialNetworksModel.Data[serviceImageKey]" />
                            </a>
                        }
                    }
                }
            </div>

            <!-- Text -->
            <div class="col-lg-4 col-sm-12 pb-3">
                <p class="fs-6 pt-2">
                    @((MarkupString)Model.Data[StaticStrings.AdminPageDataFooterTextKey])
                </p>
            </div>
        </div>

        <!-- Login button -->
        <div class="row pb-3">
            <div class="col-lg-12 col-sm-12">
                <AuthorizeView>
                    <NotAuthorized>
                        @if (StateManager.IsCustomDomain())
                        {
                            @* <a href="@($"https://myelegantpages.com/{StateManager.Lang}/{StaticRoutesStrings.LoginPageUrl}")" class="text-decoration-none pb-4">
                                @LocalizationModel.Data[StaticStrings.Localization_Login_Key]
                            </a> *@
                            <a href="@StaticRoutesStrings.AzureLoginPageUrl" class="text-decoration-none pb-4">
                                @LocalizationModel.Data[StaticStrings.Localization_Login_Key]
                            </a>
                        }
                        else
                        {
                            @* <a href="@StateManager.GetPageUrl(StaticRoutesStrings.LoginPageUrl, false)" class="text-decoration-none pb-4">
                                @LocalizationModel.Data[StaticStrings.Localization_Login_Key]
                            </a> *@
                            <a href="@StaticRoutesStrings.AzureLoginPageUrl" class="text-decoration-none pb-4">
                                @LocalizationModel.Data[StaticStrings.Localization_Login_Key]
                            </a>
                        }
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>
    }

    <div class="border-top mx-auto pb-5" style="max-width: 100%"></div>
</footer>
