<!-- ========== HEADER ========== -->
<header id="header" class="navbar navbar-expand-lg navbar-end navbar-absolute-top navbar-light navbar-show-hide"
        data-hs-header-options='{
            "fixMoment": 1000,
            "fixEffect": "slide"
          }'>

    <div class="container">
        <nav class="navbar-nav-wrap">
            <!-- Default Logo -->
            <a class="navbar-brand" href="@(SiteName + StaticRoutesStrings.MainPageRoute)" aria-label="Front">
                <img class="navbar-brand-logo" src="_content/rcl/assets/svg/logos/logo.svg" alt="Logo">
            </a>
            <!-- End Default Logo -->
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-default">
                    <i class="bi-list"></i>
                </span>
                <span class="navbar-toggler-toggled">
                    <i class="bi-x"></i>
                </span>
            </button>
            <!-- End Toggler -->
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <div class="navbar-absolute-top-scroller">
                    <ul class="navbar-nav">
                        <!-- Main -->
                        <li class="nav-item">
                            <a id="mainMenuLink" class="nav-link @(HighlightActiveMenuItem(SiteName + StaticRoutesStrings.MainPageRoute))" aria-current="page" href="@(SiteName + StaticRoutesStrings.MainPageRoute)" role="button">Main</a>
                        </li>
                        <!-- End Main -->
                        <!-- About Us -->
                        <li class="nav-item">
                            <a id="aboutUsMenuLink" class="nav-link @(HighlightActiveMenuItem(SiteName + StaticRoutesStrings.AboutUsPageRoute))" href="@(SiteName + StaticRoutesStrings.AboutUsPageRoute)" role="button">About Us</a>
                        </li>
                        <!-- End About Us -->
                        <!-- Contact Us -->
                        <li class="nav-item">
                            <a id="contactUsMenuLink" class="nav-link @(HighlightActiveMenuItem(SiteName + StaticRoutesStrings.ContactUsPageRoute))" href="@(SiteName + StaticRoutesStrings.ContactUsPageRoute)" role="button">Contact Us</a>
                        </li>
                        <!-- End Contact Us -->
                        <!-- Services -->
                        <li class="hs-has-sub-menu nav-item">
                            <a id="servicesMenuLink" class="nav-link @(HighlightActiveMenuItem(SiteName + StaticRoutesStrings.ServicesPageRoute))" href="@(SiteName + StaticRoutesStrings.ServicesPageRoute)" role="button">Services</a>
                        </li>
                        <!-- End Services -->
                        <!-- Pricing -->
                        <li class="hs-has-sub-menu nav-item">
                            <a id="pricingMenuLink" class="nav-link @(HighlightActiveMenuItem(SiteName + StaticRoutesStrings.PricingPageRoute))" href="@(SiteName + StaticRoutesStrings.PricingPageRoute)" role="button">Pricing</a>
                        </li>
                        <!-- End Pricing -->
                        <!-- Button -->
                        <li class="nav-item">
                            <a class="btn btn-primary btn-transition" href="/Account/Login" target="_blank">Login</a>
                        </li>
                        @* <AuthorizeView>
                            <Authorized>
                                <li class="nav-item">
                                    <a class="btn btn-primary btn-transition" href="/Account/Logout" target="_blank">Logout</a>
                                </li>
                            </Authorized>
                            <NotAuthorized>
                                <li class="nav-item">
                                    <a class="btn btn-primary btn-transition" href="/Account/Login" target="_blank">Login</a>
                                </li>
                            </NotAuthorized>
                        </AuthorizeView> *@
                        <!-- End Button -->
                    </ul>
                </div>
            </div>
            <!-- End Collapse -->
        </nav>
    </div>
</header>

<!-- ========== END HEADER ========== -->


@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">web</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="auth">
                <span class="bi bi-lock-nav-menu" aria-hidden="true"></span> Auth Required
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>
 *@
