<h1 class="visually-hidden">Headers examples</h1>

<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom text-dark">
        <a href="@GetPageUrl(StaticRoutesStrings.EmptyRoute)" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            @if (Model.Data != null)
            {
                <img src="@Model.Data[StaticStrings.AdminPageDataLogoKey]" style="max-height: 50px;" />
            }
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            @if (MenuModel.Data != null)
            {
                <li class="nav-item">
                    <a href="@GetPageUrl(StaticRoutesStrings.EmptyRoute)" class="nav-link @(HighlightActiveMenuItem(StaticRoutesStrings.EmptyRoute))" aria-current="page">
                        @((MarkupString)MenuModel.Data[StaticStrings.AdminPageSettingsMenuDataMainKey])
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@GetPageUrl(StaticRoutesStrings.AboutUsPageUrl)" class="nav-link @(HighlightActiveMenuItem(StaticRoutesStrings.AboutUsPageUrl))">
                        @((MarkupString)MenuModel.Data[StaticStrings.AdminPageSettingsMenuDataAboutUsKey])
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@GetPageUrl(StaticRoutesStrings.ServicesPageUrl)" class="nav-link @(HighlightActiveMenuItem(StaticRoutesStrings.ServicesPageUrl))">
                        @((MarkupString)MenuModel.Data[StaticStrings.AdminPageSettingsMenuDataServicesKey])
                    </a>
                </li>
                @if (StateManager.SiteName == StaticStrings.DefaultSiteName)
                {
                    <li class="nav-item">
                        <a href="@GetPageUrl(StaticRoutesStrings.PricingPageUrl)" class="nav-link @(HighlightActiveMenuItem(StaticRoutesStrings.PricingPageUrl))">
                            Pricing
                        </a>
                    </li>
                }
            }
        </ul>

        <div class="col-md-3 text-end">
            @if (MenuModel.Data != null)
            {
                <a href="@GetPageUrl(StaticRoutesStrings.ContactUsPageUrl)" class="btn btn-dark text-white @(HighlightActiveMenuItem(StaticRoutesStrings.ContactUsPageUrl, true))">
                    @((MarkupString)MenuModel.Data[StaticStrings.AdminPageSettingsMenuDataContactUsKey])
                </a>
            }
        </div>
    </header>

</div>
