@{
    if (Model.Data != null && Model.Data.Count > 0)
    {
        for (int i = 0; i < ServiceItems.Count; i++)
        {
            var serviceKeyIndex = i * 3;
            var serviceKey = Model.Data.ElementAt(serviceKeyIndex).Value;
            var serviceTitleKey = serviceKey + StaticStrings.TitleKeyEnding;
            var serviceSubtitleKey = serviceKey + StaticStrings.SubtitleKeyEnding;

            <!-- Accordion Item -->
            <div class="accordion-item">
                <AuthorizeView>
                    <Authorized>
                        @if (StateManager.CanEditSite())
                        {
                            <div class="mb-2 mt-2">
                                <button class="badge bg-success" @onclick="() => Add(serviceKey)">+</button>
                                <button class="badge bg-danger" @onclick="() => Remove(serviceKey)">-</button>
                            </div>
                        }
                    </Authorized>
                </AuthorizeView>
                <h2 class="accordion-header" id="panelsStayOpen-heading-@serviceKeyIndex">
                    <HTMLEditor 
                        EditorId="@(StaticHtmlStrings.HTMLEditorFAQListTitleId + serviceKeyIndex)"
                        EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                        Model="Model"
                        FuncSave="SaveContent"
                        Key="@serviceTitleKey">
                            <butoon class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-@serviceKeyIndex" aria-expanded="false" aria-controls="panelsStayOpen-collapse-@serviceKeyIndex">
                                @((MarkupString) Model.Data[serviceTitleKey])
                            </butoon>
                    </HTMLEditor>
                </h2>
                <div id="panelsStayOpen-collapse-@serviceKeyIndex" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading-@serviceKeyIndex" data-bs-parent="#accordionFAQ">
                    <HTMLEditor 
                        EditorId="@(StaticHtmlStrings.HTMLEditorFAQListSubtitleId + serviceKeyIndex)"
                        EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                        Model="Model"
                        FuncSave="SaveContent"
                        Key="@serviceSubtitleKey">
                            <div class="accordion-body">
                                @((MarkupString) Model.Data[serviceSubtitleKey])
                            </div>
                    </HTMLEditor>
                </div>
            </div>
            <!-- End Accordion Item -->
        }
    }
}
