﻿@using shared.Helpers

@if (Model.Data is not null && Model.Data.Count > 0)
{
    <div class="accordion my-5 pt-4" id="accordionFAQ">
        @foreach (var item in ServiceItems)
        {
            var serviceKey = item.ShortDesc.FirstOrDefault().Key;
            var serviceTitleKey = serviceKey + StaticStrings.TitleKeyEnding;
            var serviceSubtitleKey = serviceKey + StaticStrings.SubtitleKeyEnding;

            <AuthorizeView>
                <Authorized>
                    <!-- Accordion Item -->
                    <div class="accordion-item">
                        @if (StateManager.CanEditSite())
                        {
                            <div class="mt-2">
                                <VisibilityEditor EditorId="@(StaticStrings.VisibilityEditor_FAQList_Id + serviceKey)"
                                                  Model="Model"
                                                  FuncSave="SaveContent"
                                                  Key="@serviceKey">
                                </VisibilityEditor>
                            </div>
                            <div class="mb-2">
                                <button type="button" class="btn btn-outline-success" @onclick="() => Add(serviceKey)" disabled="@isAdding">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"></path>
                                    </svg>
                                </button>

                                <button type="button" class="btn btn-outline-danger" @onclick="() => Remove(serviceKey)" disabled="@isAdding">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
                                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"></path>
                                    </svg>
                                </button>

                                @if (PopoversModel is not null && PopoversModel.Data is not null && !string.IsNullOrWhiteSpace(PopoverKey))
                                {
                                    <Popover PopoversModel="PopoversModel"
                                             PopoverKey="@PopoverKey">
                                    </Popover>
                                }
                            </div>
                        }
                        <h2 class="accordion-header"
                            id="panelsStayOpen-heading-@serviceKey">

                            <HTMLEditor EditorId="@(StaticHtmlStrings.HTMLEditorFAQListTitleId + serviceKey)"
                                        EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                                        Model="Model"
                                        FuncSave="SaveContent"
                                        Key="@serviceTitleKey">
                            </HTMLEditor>

                            <button class="accordion-button collapsed bg-light display-5 fw-bold"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-collapse-@serviceKey"
                                    aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapse-@serviceKey">
                                @((MarkupString)Model.Data[serviceTitleKey])
                            </button>

                        </h2>

                        <div id="panelsStayOpen-collapse-@serviceKey"
                             class="accordion-collapse collapse py-3"
                             aria-labelledby="panelsStayOpen-heading-@serviceKey"
                             data-bs-parent="#accordionFAQ">

                            <HTMLEditor EditorId="@(StaticHtmlStrings.HTMLEditorFAQListSubtitleId + serviceKey)"
                                        EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                                        Model="Model"
                                        FuncSave="SaveContent"
                                        Key="@serviceSubtitleKey">

                                <div class="accordion-body">
                                    @((MarkupString)Model.Data[serviceSubtitleKey])
                                </div>

                            </HTMLEditor>
                        </div>
                    </div>
                    <!-- End Accordion Item -->
                </Authorized>
                <NotAuthorized>
                    @if (VisibilityHelpers.IsVisible(Model.Data, serviceKey))
                    {
                        <!-- Accordion Item -->
                        <div class="accordion-item">
                            <h2 class="accordion-header"
                                id="panelsStayOpen-heading-@serviceKey">

                                <HTMLEditor EditorId="@(StaticHtmlStrings.HTMLEditorFAQListTitleId + serviceKey)"
                                            EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                                            Model="Model"
                                            FuncSave="SaveContent"
                                            Key="@serviceTitleKey">
                                </HTMLEditor>

                                <button class="accordion-button collapsed bg-light display-5 fw-bold"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapse-@serviceKey"
                                        aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapse-@serviceKey">
                                    @((MarkupString)Model.Data[serviceTitleKey])
                                </button>

                            </h2>

                            <div id="panelsStayOpen-collapse-@serviceKey"
                                 class="accordion-collapse collapse py-3"
                                 aria-labelledby="panelsStayOpen-heading-@serviceKey"
                                 data-bs-parent="#accordionFAQ">

                                <HTMLEditor EditorId="@(StaticHtmlStrings.HTMLEditorFAQListSubtitleId + serviceKey)"
                                            EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                                            Model="Model"
                                            FuncSave="SaveContent"
                                            Key="@serviceSubtitleKey">

                                    <div class="accordion-body">
                                        @((MarkupString)Model.Data[serviceSubtitleKey])
                                    </div>

                                </HTMLEditor>
                            </div>
                        </div>
                        <!-- End Accordion Item -->
                    }
                </NotAuthorized>
            </AuthorizeView>
        }
    </div>
}
else
{
    <AuthorizeView>
        <Authorized>
            @if (StateManager.CanEditSite())
            {
                <div class="mb-2 mt-2">
                    <button type="button" class="btn btn-outline-success" @onclick="() => Add()" disabled="@isAdding">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"></path>
                        </svg>
                    </button>
                </div>
            }
        </Authorized>
    </AuthorizeView>
}
