<div class="accordion my-5 pt-4" id="accordionFAQ">

    @if (Model.Data != null && Model.Data.Count > 0)
    {
        @for (int i = 0; i < ServiceItems.Count; i++)
        {
            var serviceKeyIndex = i * 3;
            var serviceKey = Model.Data.ElementAt(serviceKeyIndex).Value;
            var serviceTitleKey = serviceKey + StaticStrings.TitleKeyEnding;
            var serviceSubtitleKey = serviceKey + StaticStrings.SubtitleKeyEnding;

            <!-- Accordion Item -->
            <div class="accordion-item">
                <AuthorizeView>
                    <Authorized>
                        @if (StateManager.CanEditSite())
                        {
                            <div class="mb-2 mt-2">
                                <button type="button" class="btn btn-outline-success" @onclick="() => Add(serviceKey)" disabled="@isAdding">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"></path>
                                    </svg>
                                </button>

                                <button type="button" class="btn btn-outline-danger" @onclick="() => Remove(serviceKey)" disabled="@isAdding">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
                                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"></path>
                                    </svg>
                                </button>
                            </div>
                        }
                    </Authorized>
                </AuthorizeView>

                <h2 class="accordion-header"
                    id="panelsStayOpen-heading-@serviceKeyIndex">

                    <button class="accordion-button collapsed bg-light display-5 fw-bold"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapse-@serviceKeyIndex"
                            aria-expanded="false"
                            aria-controls="panelsStayOpen-collapse-@serviceKeyIndex">

                        <HTMLEditor EditorId="@(StaticHtmlStrings.HTMLEditorFAQListTitleId + serviceKeyIndex)"
                                    EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                                    Model="Model"
                                    FuncSave="SaveContent"
                                    Key="@serviceTitleKey">

                            @((MarkupString)Model.Data[serviceTitleKey])

                        </HTMLEditor>
                    </button>
                </h2>

                <div id="panelsStayOpen-collapse-@serviceKeyIndex"
                     class="accordion-collapse collapse py-3"
                     aria-labelledby="panelsStayOpen-heading-@serviceKeyIndex"
                     data-bs-parent="#accordionFAQ">

                    <HTMLEditor EditorId="@(StaticHtmlStrings.HTMLEditorFAQListSubtitleId + serviceKeyIndex)"
                                EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                                Model="Model"
                                FuncSave="SaveContent"
                                Key="@serviceSubtitleKey">

                        <div class="accordion-body">
                            @((MarkupString)Model.Data[serviceSubtitleKey])
                        </div>

                    </HTMLEditor>
                </div>
            </div>
            <!-- End Accordion Item -->
        }
    }
</div>