@{
    @if (ServiceItems.Count > 0)
    {
        <div class="row justify-content-start">
            @if (ServiceItems[0] != null)
            {
                var url = ServiceItems[0].LongDesc.FirstOrDefault(x => x.Key.Contains(StaticStrings.UrlKeyEnding)).Value;
                var title = ServiceItems[0].ShortDesc.FirstOrDefault(x => x.Key.Contains(StaticStrings.TitleKeyEnding)).Value;
                var subtitle = ServiceItems[0].ShortDesc.FirstOrDefault(x => x.Key.Contains(StaticStrings.SubtitleKeyEnding)).Value;

                <div class="col-md-6">
                    <a href="@(SiteNameLower)/service/@url" class="text-decoration-none position-sticky text-black" style="top: 2rem;">
                        <div class="p-4 mb-3 bg-light rounded">
                            <h4 class="fst-italic">@title</h4>
                            <p class="mb-0">@subtitle</p>
                        </div>

                    </a>
                </div>
            }

            @if (ServiceItems[1] != null)
            {
                var url = ServiceItems[1].LongDesc.FirstOrDefault(x => x.Key.Contains(StaticStrings.UrlKeyEnding)).Value;
                var title = ServiceItems[1].ShortDesc.FirstOrDefault(x => x.Key.Contains(StaticStrings.TitleKeyEnding)).Value;
                var subtitle = ServiceItems[1].ShortDesc.FirstOrDefault(x => x.Key.Contains(StaticStrings.SubtitleKeyEnding)).Value;

                <div class="col-md-6">
                    <a href="@(SiteNameLower)/service/@url" class="text-decoration-none position-sticky text-black" style="top: 2rem;">
                        <div class="p-4 mb-3 bg-light rounded">
                            <h4 class="fst-italic">@title</h4>
                            <p class="mb-0">@subtitle</p>
                        </div>

                    </a>
                </div>
            }
        </div>
        <div class="row justify-content-start">
            @if (ServiceItems[2] != null)
            {
                var url = ServiceItems[2].LongDesc.FirstOrDefault(x => x.Key.Contains(StaticStrings.UrlKeyEnding)).Value;
                var title = ServiceItems[2].ShortDesc.FirstOrDefault(x => x.Key.Contains(StaticStrings.TitleKeyEnding)).Value;
                var subtitle = ServiceItems[2].ShortDesc.FirstOrDefault(x => x.Key.Contains(StaticStrings.SubtitleKeyEnding)).Value;

                <div class="col-md-6">
                    <a href="@(SiteNameLower)/service/@url" class="text-decoration-none position-sticky text-black" style="top: 2rem;">
                        <div class="p-4 mb-3 bg-light rounded">
                            <h4 class="fst-italic">@title</h4>
                            <p class="mb-0">@subtitle</p>
                        </div>

                    </a>
                </div>
            }

            @if (ServiceItems[3] != null)
            {
                var url = ServiceItems[3].LongDesc.FirstOrDefault(x => x.Key.Contains(StaticStrings.UrlKeyEnding)).Value;
                var title = ServiceItems[3].ShortDesc.FirstOrDefault(x => x.Key.Contains(StaticStrings.TitleKeyEnding)).Value;
                var subtitle = ServiceItems[3].ShortDesc.FirstOrDefault(x => x.Key.Contains(StaticStrings.SubtitleKeyEnding)).Value;

                <div class="col-md-6">
                    <a href="@(SiteNameLower)/service/@url" class="text-decoration-none position-sticky text-black" style="top: 2rem;">
                        <div class="p-4 mb-3 bg-light rounded">
                            <h4 class="fst-italic">@title</h4>
                            <p class="mb-0">@subtitle</p>
                        </div>

                    </a>
                </div>
            }
        </div>
    }
}
