<AuthorizeView>
    <Authorized>
        @if (StateManager.CanEditSite() && SettingsModel.Data != null)
        {
            @if (!EditMode)
            {
                <button class="badge bg-primary mb-2" @onclick="ToggleEditModeAsync">
                    @SettingsModel.Data[StaticStrings.AdminPageDataHTMLEditorEditButtonTextKey]
                </button>
            }
            else
            {
                <button class="badge bg-success mb-2" @onclick="SaveChangesAsync">
                    @SettingsModel.Data[StaticStrings.AdminPageDataHTMLEditorSaveButtonTextKey]
                </button>
                <button class="badge bg-secondary mb-2" @onclick="CancelEditAsync">
                    @SettingsModel.Data[StaticStrings.AdminPageDataHTMLEditorCancelButtonTextKey]
                </button>
            }
        }   
    </Authorized>
</AuthorizeView>
@if (!EditMode)
{
    @ChildContent
}
<AuthorizeView>
    <Authorized>
        @if (StateManager.CanEditSite())
        {
            <div class="@GetVisibilityClass() mb-2">
                <div id="@(EditorId)">@((MarkupString)Value)</div>
            </div>
        }
    </Authorized>
</AuthorizeView>
