<AuthorizeView>
    <Authorized>
        @if (SettingsModel.Data is not null && StateManager.CanEditSite())
        {
            <div class="mb-2">
                @if (!EditMode)
                {
                    <!-- Edit -->
                    <button class="badge bg-primary m-2" @onclick="ToggleEditModeAsync">
                        @SettingsModel.Data[StaticStrings.AdminPageDataHTMLEditorEditButtonTextKey]
                    </button>
                }
                else
                {
                    <!-- Save -->
                    <button class="badge bg-success m-2" @onclick="SaveChangesAsync">
                        @SettingsModel.Data[StaticStrings.AdminPageDataHTMLEditorSaveButtonTextKey]
                    </button>

                    <!-- Cancel -->
                    <button class="badge bg-secondary m-2" @onclick="CancelEditAsync">
                        @SettingsModel.Data[StaticStrings.AdminPageDataHTMLEditorCancelButtonTextKey]
                    </button>
                }
            </div>
        }
    </Authorized>
</AuthorizeView>

@if (!EditMode)
{
    @ChildContent
}

<AuthorizeView>
    <Authorized>
        @if (StateManager.CanEditSite())
        {
            <!-- HTML editor body -->
            <div class="@GetVisibilityClass() mb-2">
                <div id="@(EditorId)">
                    @((MarkupString)Value)
                </div>
            </div>
        }
    </Authorized>
</AuthorizeView>
