@{
    if (Model.Data.Count > 0 && ModelUrls.Data.Count > 0 && SettingsModel.Data.Count > 0)
    {
        for (int i = 0; i < ServiceItems.Count; i++)
        {
            var serviceKeyIndex = i * 3;
            var serviceKey = Model.Data.ElementAt(serviceKeyIndex).Value;
            var serviceUrlKey = serviceKey + StaticStrings.UrlKeyEnding;
            var serviceTitleKey = serviceKey + StaticStrings.TitleKeyEnding;
            var serviceSubtitleKey = serviceKey + StaticStrings.SubtitleKeyEnding;
            var serviceUrlValue = ModelUrls.Data[serviceUrlKey];
            var serviceButtonTextValue = SettingsModel.Data[StaticStrings.AdminPageDataServicesButtonTextKey];

            <div class="col-sm-6 col-lg-4 mb-3">
                <!-- Card -->
                <div class="card card-transition h-100">
                    <div class="card-body">
                        <AuthorizeView>
                            <Authorized>
                                <div class="mb-2">
                                    <button class="badge bg-success" @onclick="() => Add(serviceKey)">+</button>
                                    <button class="badge bg-danger" @onclick="() => Remove(serviceKey)">-</button>
                                </div>
                                <div class="mb-2">
                                    <HTMLEditor 
                                        EditorId="@(StaticHtmlStrings.HTMLEditorServicesListServiceUrlId + serviceKeyIndex)"
                                        EditorContentFormat="@(StaticStrings.EditorContentFormatText)"
                                        Model="ModelUrls"
                                        FuncSave="SaveUrl"
                                        Key="@serviceUrlKey">
                                            <p>Page url: @(ModelUrls.Data[serviceUrlKey])</p>
                                    </HTMLEditor>
                                </div>
                                <HTMLEditor 
                                    EditorId="@(StaticHtmlStrings.HTMLEditorServicesListServiceTitleId + serviceKeyIndex)"
                                    EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                                    Model="Model"
                                    FuncSave="SaveContent"
                                    Key="@serviceTitleKey">
                                        <h4 class="card-title">
                                            @((MarkupString) Model.Data[serviceTitleKey])
                                        </h4>
                                </HTMLEditor>
                                <HTMLEditor 
                                    EditorId="@(StaticHtmlStrings.HTMLEditorServicesListServiceSubtitleId + serviceKeyIndex)"
                                    EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                                    Model="Model"
                                    FuncSave="SaveContent"
                                    Key="@serviceSubtitleKey">
                                        <p class="card-text">
                                            @((MarkupString) Model.Data[serviceSubtitleKey])
                                        </p>
                                </HTMLEditor>
                            </Authorized>
                            <NotAuthorized>
                                <h4 class="card-title">
                                    @((MarkupString) Model.Data[serviceTitleKey])
                                </h4>
                                <p class="card-text">
                                    @((MarkupString) Model.Data[serviceSubtitleKey])
                                </p>
                            </NotAuthorized>
                        </AuthorizeView>
                    </div>

                    <div class="card-footer pt-0">
                        <!-- Socials -->
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <a class="btn btn-outline-primary btn-xs rounded" href="@StateManager.SiteName/@StateManager.Lang/@StaticRoutesStrings.ServicePageUrl/@serviceUrlValue">
                                    @serviceButtonTextValue
                                </a>
                            </li>
                        </ul>
                        <!-- End Socials -->
                    </div>
                </div>
                <!-- End Card -->
            </div>
        }
    }
}
