@using shared.Helpers

@if (Model.Data is not null && Model.Data.Count > 0 && LocalizationModel.Data is not null)
{
    @foreach (var item in ServiceItems)
    {
        var serviceKey = item.ShortDesc.FirstOrDefault().Key;
        var serviceImageKey = serviceKey + StaticStrings.ImageKeyEnding;
        var serviceUrlKey = serviceKey + StaticStrings.UrlKeyEnding;

        <div class="col">
            <div class="card h-100">
                <div class="card-body">

                    <p class="card-text">
                        <button class="btn btn-ghost-secondary btn-sm btn-icon rounded-circle">
                            <ImageEditor EditorId="@(StaticHtmlStrings.ImageEditorAdminSocialNetworksImageId + serviceKey)"
                                         Model="Model"
                                         FuncSave="SaveContent"
                                         Key="@serviceImageKey"
                                         PopoversModel="PopoversModel"
                                         PopoverKey="@StaticStrings.Popover_Admin_1_Social_ImageEditor">
                                <img src="@Model.Data[serviceImageKey]" />
                            </ImageEditor>
                        </button>
                    </p>

                    <hr />

                    <p class="card-text text-center">
                        <TextEditor EditorId="@(StaticHtmlStrings.HTMLEditorAdminSocialNetworksUrlId + serviceKey)"
                                    EditorType="@(StaticStrings.TextEditorTypeUrl)"
                                    Model="Model"
                                    FuncSave="SaveContent"
                                    Key="@serviceUrlKey"
                                    PopoversModel="PopoversModel"
                                    PopoverKey="@StaticStrings.Popover_Admin_1_Social_Url">
                            <p>
                                @LocalizationModel.Data[StaticStrings.Localization_Admin_Social_Link_Key]: @Model.Data[serviceUrlKey]
                            </p>
                        </TextEditor>
                    </p>

                </div>

                <div class="card-footer text-center">
                    @if (StateManager.CanEditSite())
                    {
                        <div class="mt-2">
                            <VisibilityEditor EditorId="@(StaticStrings.VisibilityEditor_SocialNetworks_Id + serviceKey)"
                                              Model="Model"
                                              FuncSave="SaveContent"
                                              Key="@serviceKey">
                            </VisibilityEditor>
                        </div>
                        <div class="mb-2">
                            <button type="button" class="btn btn-outline-success" @onclick="() => Add(serviceKey)" disabled="@isAdding">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"></path>
                                </svg>
                            </button>

                            <button type="button" class="btn btn-outline-danger" @onclick="() => Remove(serviceKey)" disabled="@isAdding">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
                                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"></path>
                                </svg>
                            </button>

                            <Popover
                                PopoversModel="PopoversModel"
                                PopoverKey="@StaticStrings.Popover_Admin_1_Social_Card">
                            </Popover>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
}
else
{
    @if (StateManager.CanEditSite())
    {
        <div class="mb-2 mt-2">
            <button class="badge bg-success" @onclick="() => Add()" disabled="@isAdding">+</button>
        </div>
    }
}