@if (Model.Data is not null && Model.Data.Count > 0)
{
    <div class="row row-cols-1 row-cols-md-3 g-5 py-5 mx-auto">

        @for (int i = 0; i < ServiceItems.Count; i++)
        {
            var serviceKeyIndex = i * 5;
            var serviceKey = Model.Data.ElementAt(serviceKeyIndex).Value;
            var serviceImageKey = serviceKey + StaticStrings.ImageKeyEnding;
            var serviceTitleKey = serviceKey + StaticStrings.TitleKeyEnding;
            var serviceSubtitleKey = serviceKey + StaticStrings.SubtitleKeyEnding;
            var serviceTextKey = serviceKey + StaticStrings.TextKeyEnding;

            <div class="col mx-auto text-center mb-5" style="">
                <AuthorizeView>
                    <Authorized>
                        <!-- Card add or remove -->
                        @if (StateManager.CanEditSite())
                        {
                            <div class="my-2 pt-3">
                                <button type="button" class="btn btn-outline-success" @onclick="() => Add(serviceKey)" disabled="@isAdding">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"></path>
                                    </svg>
                                </button>

                                <button type="button" class="btn btn-outline-danger" @onclick="() => Remove(serviceKey)" disabled="@isAdding">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
                                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"></path>
                                    </svg>
                                </button>
                            </div>
                        }
                    </Authorized>
                </AuthorizeView>

                <div class="card border-opacity-100 h-100">

                    <!-- Card image -->
                    <ImageEditor EditorId="@(StaticHtmlStrings.ImageEditorAboutUsTeamListImageId + serviceKeyIndex)"
                                 Model="Model"
                                 FuncSave="SaveContent"
                                 Key="@serviceImageKey">
                        <img src="@Model.Data[serviceImageKey]" class="card-img-top img-fluid" style="" />
                    </ImageEditor>

                    <div class="card-body">
                        <!-- Card main title -->
                        <HTMLEditor EditorId="@(StaticHtmlStrings.HTMLEditorAboutUsTeamListSubtitleId + serviceKeyIndex)"
                                    EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                                    Model="Model"
                                    FuncSave="SaveContent"
                                    Key="@serviceTitleKey">
                            <h5 class="card-title">
                                @((MarkupString)Model.Data[serviceTitleKey])
                            </h5>
                        </HTMLEditor>

                        <!-- Card sub titli -->
                        <HTMLEditor EditorId="@(StaticHtmlStrings.HTMLEditorAboutUsTeamListTitleId + serviceKeyIndex)"
                                    EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                                    Model="Model"
                                    FuncSave="SaveContent"
                                    Key="@serviceSubtitleKey">
                            <h6 class="card-title">
                                @((MarkupString)Model.Data[serviceSubtitleKey])
                            </h6>
                        </HTMLEditor>

                        <!-- Card text -->
                        <HTMLEditor EditorId="@(StaticHtmlStrings.HTMLEditorAboutUsTeamListTextId + serviceKeyIndex)"
                                    EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                                    Model="Model"
                                    FuncSave="SaveContent"
                                    Key="@serviceTextKey">
                            <p class="card-text">
                                @((MarkupString)Model.Data[serviceTextKey])
                            </p>
                        </HTMLEditor>
                    </div>
                </div>
            </div>
        }
    </div>
}