@{
    if (Model.Data != null && Model.Data.Count > 0)
    {
        <div class="row justify-content-center">
            @for (int i = 0; i < ServiceItems.Count; i++)
            {
                var serviceKeyIndex = i * 5;
                var serviceKey = Model.Data.ElementAt(serviceKeyIndex).Value;
                var serviceAvatarKey = serviceKey + StaticStrings.AvatarKeyEnding;
                var serviceTitleKey = serviceKey + StaticStrings.TitleKeyEnding;
                var serviceSubtitleKey = serviceKey + StaticStrings.SubtitleKeyEnding;
                var serviceTextKey = serviceKey + StaticStrings.TextKeyEnding;

                <AuthorizeView>
                    <Authorized>
                        @if (StateManager.CanEditSite())
                        {
                            <div class="mb-2 mt-2">
                                <button class="badge bg-success" @onclick="() => Add(serviceKey)">+</button>
                                <button class="badge bg-danger" @onclick="() => Remove(serviceKey)">-</button>
                            </div>
                        }
                    </Authorized>
                </AuthorizeView>
                <div class="col-lg-4 mx-auto text-center">

                    <ImageEditor EditorId="@(StaticHtmlStrings.ImageEditorHomeTestimonialsListAvatarId + serviceKeyIndex)"
                                 Model="Model"
                                 FuncSave="SaveContent"
                                 Key="@serviceAvatarKey">
                        <img src="@Model.Data[serviceAvatarKey]" class="rounded-circle" style="max-height: 150px;" />
                    </ImageEditor>
                    
                    <HTMLEditor EditorId="@(StaticHtmlStrings.HTMLEditorHomeTestimonialsListTitleId + serviceKeyIndex)"
                                EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                                Model="Model"
                                FuncSave="SaveContent"
                                Key="@serviceTitleKey">
                        <h2>@((MarkupString)Model.Data[serviceTitleKey])</h2>
                    </HTMLEditor>
                    <HTMLEditor EditorId="@(StaticHtmlStrings.HTMLEditorHomeTestimonialsListSubtitleId + serviceKeyIndex)"
                                EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                                Model="Model"
                                FuncSave="SaveContent"
                                Key="@serviceSubtitleKey">
                        <h6 class="text-muted">@((MarkupString)Model.Data[serviceSubtitleKey])</h6>
                    </HTMLEditor>
                    <HTMLEditor EditorId="@(StaticHtmlStrings.HTMLEditorHomeTestimonialsListTextId + serviceKeyIndex)"
                                EditorContentFormat="@(StaticStrings.EditorContentFormatHtml)"
                                Model="Model"
                                FuncSave="SaveContent"
                                Key="@serviceTextKey">
                        <p>@((MarkupString)Model.Data[serviceTextKey])</p>
                    </HTMLEditor>
                </div>
            }      
        </div>
    }
}
