@using shared
@using Microsoft.AspNetCore.Components.Authorization

@{
    foreach (var item in Model.Data)
    {
        var guid = Guid.NewGuid().ToString();

        <div class="col-sm-6 col-lg-4 mb-3">
            <!-- Card -->
            <div class="card card-transition h-100">
                <div class="card-body">
                    <AuthorizeView>
                        <Authorized>
                            <div class="mb-2">
                                <TinyMceEditor 
                                    TinyMceId="@(StaticHtmlStrings.TinyServicesListServiceUrlId + guid)"
                                    TinyMceContentFormat="@(StaticStrings.TinyContentFormatText)"
                                    Model="ModelUrls"
                                    FuncSave="SaveUrl"
                                    Key="@(item.Key + StaticStrings.ServicesUrlKeyEnding)">
                                        Page url: @(item.Key)
                                </TinyMceEditor>
                            </div>  
                            <button class="badge bg-success" @onclick="() => Add(item.Key)">+</button>
                            <button class="badge bg-danger" @onclick="() => Remove(item.Key)">-</button>
                            <TinyMceEditor 
                                TinyMceId="@(StaticHtmlStrings.TinyServicesListServiceContentId + guid)"
                                TinyMceContentFormat="@(StaticStrings.TinyContentFormatHtml)"
                                Model="Model"
                                FuncSave="SaveContent"
                                Key="@(item.Key)">
                                    @((MarkupString) Model.Data[item.Key])
                            </TinyMceEditor>
                        </Authorized>
                        <NotAuthorized>
                            @((MarkupString) Model.Data[item.Key])
                        </NotAuthorized>
                    </AuthorizeView>
                </div>

                <div class="card-footer pt-0">
                    <!-- Socials -->
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a class="btn btn-outline-primary btn-xs rounded" href="/service/@(item.Key)">
                                Read more
                            </a>
                        </li>
                    </ul>
                    <!-- End Socials -->
                </div>
            </div>
            <!-- End Card -->
        </div>
    }
}
