@using shared
@using rcl
@using web.Components.Shared

@attribute [Route(StaticRoutesStrings.ServicesPageRoute)]

@rendermode InteractiveServer

<!-- ========== MAIN CONTENT ========== -->
<main id="content" role="main">
    <!-- Gallery -->
    <div class="container content-space-t-3 content-space-t-lg-5">
        <!-- Heading -->
        <div class="w-lg-65 text-center mx-lg-auto mb-5 mb-md-9">
            <TinyMceEditor 
                TinyMceId="@(StaticHtmlStrings.TinyServicesTitleId)"
                TinyMceContentFormat="@(StaticStrings.TinyContentFormatHtml)"
                Model="Model"
                FuncSave="Save"
                Key="@(StaticStrings.ServicesPageDataTitleKey)">
                    @((MarkupString) Model.Data[StaticStrings.ServicesPageDataTitleKey])
            </TinyMceEditor>
        </div>
        <!-- End Heading -->

        <div class="row gx-3 gx-lg-4">
            <div class="col-5 align-self-end">
                <img class="img-fluid rounded-2" src="./assets/img/750x750/img6.jpg" alt="Image Description">
            </div>
            <!-- End Col -->

            <div class="col-7">
                <div class="ms-lg-4">
                    <img class="img-fluid rounded-2" src="./assets/img/750x750/img1.jpg" alt="Image Description">
                </div>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
    <!-- End Gallery -->
    <!-- Icon Blocks -->
    <div class="container content-space-2 content-space-lg-3">
        <!-- Heading -->
        <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
            <TinyMceEditor 
                TinyMceId="@(StaticHtmlStrings.TinyServicesListTitleId)"
                TinyMceContentFormat="@(StaticStrings.TinyContentFormatHtml)"
                Model="Model"
                FuncSave="Save"
                Key="@(StaticStrings.ServicesPageDataServicesListTitleKey)">
                    @((MarkupString) Model.Data[StaticStrings.ServicesPageDataServicesListTitleKey])
            </TinyMceEditor>
            <TinyMceEditor 
                TinyMceId="@(StaticHtmlStrings.TinyServicesListSubtitleId)"
                TinyMceContentFormat="@(StaticStrings.TinyContentFormatHtml)"
                Model="Model"
                FuncSave="Save"
                Key="@(StaticStrings.ServicesPageDataServicesListSubtitleKey)">
                    @((MarkupString) Model.Data[StaticStrings.ServicesPageDataServicesListSubtitleKey])
            </TinyMceEditor>
        </div>
        <!-- End Heading -->

        <div class="row gx-3 mb-5">
            <TinyMceServicesList 
                ServiceItems="ServiceItems">
            </TinyMceServicesList>
        </div>
    </div>
    <!-- End Icon Blocks -->
    <!-- Card Grid -->
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-3 mb-lg-0">
                <!-- Card -->
                <div class="card bg-primary h-100 overflow-hidden">
                    <div class="card-body">
                        <div class="w-65 pe-2">
                            <h2 class="card-title text-white">Front process</h2>
                            <p class="card-text text-white">Once you are invited to Front Agency, you company will be set within days.</p>
                            <a class="btn btn-light btn-sm btn-transition" href="#">Learn more <i class="bi-chevron-right small ms-1"></i></a>
                        </div>

                        <div class="position-absolute end-0 bottom-0 w-50 mb-n3 me-n7">
                            <img class="card-img" src="./assets/svg/illustrations/apps.svg" alt="Image Description">
                        </div>
                    </div>
                </div>
                <!-- End Card -->
            </div>
            <!-- End Col -->

            <div class="col-lg-6">
                <!-- Card -->
                <div class="card bg-warning h-100 overflow-hidden">
                    <div class="card-body">
                        <div class="w-65 pe-2">
                            <h2 class="card-title text-white">Product design</h2>
                            <p class="card-text text-white">Easy and fast adjustments of elements are possible with Front template.</p>
                            <a class="btn btn-light btn-sm btn-transition" href="#">Learn more <i class="bi-chevron-right small ms-1"></i></a>
                        </div>

                        <div class="position-absolute end-0 bottom-0 w-50 mb-n3 me-n7">
                            <img class="card-img" src="./assets/svg/illustrations/calendar.svg" alt="Image Description">
                        </div>
                    </div>
                </div>
                <!-- End Card -->
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
    <!-- End Card Grid -->
    <!-- FAQ -->
    <div class="container content-space-2 content-space-lg-3">
        <!-- Heading -->
        <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
            <h2>Still curious?</h2>
        </div>
        <!-- End Heading -->

        <div class="w-lg-65 mx-lg-auto">
            <!-- Accordion -->
            <div class="accordion accordion-flush accordion-lg" id="accordionFAQ">
                <!-- Accordion Item -->
                <div class="accordion-item">
                    <div class="accordion-header" id="headingBasicsOne">
                        <a class="accordion-button" role="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            What methods of payments are supported?
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingBasicsOne" data-bs-parent="#accordionFAQ">
                        <div class="accordion-body">
                            You can purchase the themes on Bootstrap Themes via any major credit/debit card (via Stripe) or with your Paypal account. We don't support cryptocurrencies or invoicing at this time.
                        </div>
                    </div>
                </div>
                <!-- End Accordion Item -->
                <!-- Accordion Item -->
                <div class="accordion-item">
                    <div class="accordion-header" id="headingBasicsTwo">
                        <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Can I cancel at anytime?
                        </a>
                    </div>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingBasicsTwo" data-bs-parent="#accordionFAQ">
                        <div class="accordion-body">
                            If you'd like a refund please reach out to us at <a href="#">themes@getbootstrap.com</a>. If you need technical help with the theme before a refund please reach out to the seller first and they can get in touch with us if they're unable to resolve the issue.
                        </div>
                    </div>
                </div>
                <!-- End Accordion Item -->
                <!-- Accordion Item -->
                <div class="accordion-item">
                    <div class="accordion-header" id="headingBasicsThree">
                        <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            How do I get a receipt for my purchase?
                        </a>
                    </div>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingBasicsThree" data-bs-parent="#accordionFAQ">
                        <div class="accordion-body">
                            You'll receive an email from Bootstrap themes once your purchase is complete.
                        </div>
                    </div>
                </div>
                <!-- End Accordion Item -->
                <!-- Accordion Item -->
                <div class="accordion-item">
                    <div class="accordion-header" id="headingBasicsFour">
                        <a class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Which license do I need?
                        </a>
                    </div>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingBasicsFour" data-bs-parent="#accordionFAQ">
                        <div class="accordion-body">
                            There are three license types - <a href="#">Standard</a>, <a href="#">Multisite</a>, and <a href="#">Extended</a>. We've provided the table below for a quick look at the difference between the them, as well as a few examples of ways each license could be used. If you'd like more of the nitty-gritty details you can find them below and always feel free to reach out with any questions you have at <a href="#">themes@getbootstrap.com</a>.
                        </div>
                    </div>
                </div>
                <!-- End Accordion Item -->
            </div>
            <!-- End Accordion -->
        </div>
    </div>
    <!-- End FAQ -->
    <!-- Clients -->
    <div class="container content-space-b-2 content-space-b-lg-3">
        <!-- Heading -->
        <div class="w-md-75 w-lg-50 text-center mx-md-auto mb-5 mb-md-9">
            <h2>As seen on...</h2>
        </div>
        <!-- End Heading -->

        <div class="w-lg-75 mx-lg-auto">
            <div class="row">
                <div class="col text-center py-3">
                    <img class="avatar avatar-lg avatar-4x3" src="./assets/svg/brands/capsule-dark.svg" alt="Logo">
                </div>
                <!-- End Col -->

                <div class="col text-center py-3">
                    <img class="avatar avatar-lg avatar-4x3" src="./assets/svg/brands/fitbit-dark.svg" alt="Logo">
                </div>
                <!-- End Col -->

                <div class="col text-center py-3">
                    <img class="avatar avatar-lg avatar-4x3" src="./assets/svg/brands/forbes-dark.svg" alt="Logo">
                </div>
                <!-- End Col -->

                <div class="col text-center py-3">
                    <img class="avatar avatar-lg avatar-4x3" src="./assets/svg/brands/mailchimp-dark.svg" alt="Logo">
                </div>
                <!-- End Col -->

                <div class="col text-center py-3">
                    <img class="avatar avatar-lg avatar-4x3" src="./assets/svg/brands/layar-dark.svg" alt="Logo">
                </div>
                <!-- End Col -->
            </div>
            <!-- End Row -->
        </div>
    </div>
    <!-- End Clients -->
</main>
<!-- ========== END MAIN CONTENT ========== -->
