@using shared

@{
    var serviceIndex = 1;

    foreach (var item in Model.Data)
    {
        <div class="col-sm-6 col-lg-4 mb-3">
            <!-- Card -->
            <div class="card card-transition h-100">
                <div class="card-body">
                    <AuthorizeView>
                        <Authorized>
                            <button class="badge bg-success" @onclick="() => Add()">+</button>
                            <button class="badge bg-danger" @onclick="() => Remove(item.Key)">-</button>
                            <TinyMceEditor 
                                TinyMceId="@(StaticHtmlStrings.TinyServicesListServiceItemId + serviceIndex)"
                                TinyMceContentFormat="@(StaticStrings.TinyContentFormatHtml)"
                                Model="Model"
                                FuncSave="SaveContent"
                                Key="@(item.Key)">
                                    @((MarkupString) Model.Data[item.Key])
                            </TinyMceEditor>
                        </Authorized>
                        <NotAuthorized>
                            @((MarkupString) Model.Data[item.Key])
                        </NotAuthorized>
                    </AuthorizeView>
                </div>

                <div class="card-footer pt-0">
                    <!-- Socials -->
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <AuthorizeView>
                                <Authorized>
                                    <TinyMceEditor 
                                        TinyMceId="@(StaticHtmlStrings.TinyServicesListServiceItemKeyId + serviceIndex)"
                                        TinyMceContentFormat="@(StaticStrings.TinyContentFormatText)"
                                        Model="ModelUrls"
                                        FuncSave="SaveUrl"
                                        Key="@(item.Key + StaticStrings.ServicesUrlKeyEnding)">
                                            <a class="btn btn-outline-primary btn-xs rounded" href="/service/@(item.Key)">
                                                Read more
                                            </a>
                                    </TinyMceEditor>
                                </Authorized>
                                <NotAuthorized>
                                    <a class="btn btn-outline-primary btn-xs rounded" href="/service/@(item.Key)">
                                        Read more
                                    </a>
                                </NotAuthorized>
                            </AuthorizeView>
                        </li>
                    </ul>
                    <!-- End Socials -->
                </div>
            </div>
            <!-- End Card -->
        </div>

        serviceIndex++;
    }
}
